

<section class="all_category" id="portfolio">
   <div class="container text-center">
          <h3 class="brows_head"> <strong> Browse Our Popular <span class="bate_bg"> Category </span>  </strong> </h3>
          <p class="subheadertext">
      Photographers, venues, makeup artists & more at your budget & style.
          </p>  
        </div>
<div class="container mob_parallax">

<div class="col-md-3 col-xs-12 box_img">

<a href="#"><div class="abc">
  <img src="../../assets/img/category/cake.jpeg" class="img-responsive" alt=""> 
 
  </div>
 <h6> <strong>Cakes </strong>  </h6> 
</a>
</div>


<div class="col-md-3 col-xs-12 box_img">
  <a href="#"> <div class="abc"> <img src="../../assets/img/category/wedding_style.jpg" class="img-responsive" alt=""></div>
 <p> <strong>Decorators  </strong>  </p></a>
</div>


<div class="col-md-3 col-xs-12 box_img"> 
 <a href="#"><div class="abc"><img src="../../assets/img/category/pamper-parties.jpg" class="img-responsive" alt=""></div>
 <h6> <strong>Pamper Packages </strong>  </h6></a>
</div>


<div class="col-md-3 col-xs-12 box_img">
<a href="#"><div class="abc"><img src="../../assets/img/category/drinks.jpeg" class="img-responsive" alt=""></div>
 <h6> <strong>Drinks  </strong>  </h6></a> 
</div>


<div class="col-md-3 col-xs-12 box_img">
<a href="#"><div class="abc"> <img src="../../assets/img/category/dress.jpg" class="img-responsive" alt=""></div>
 <h6> <strong>Fashion </strong>  </h6></a>
</div>

<div class="col-md-3 col-xs-12 box_img">
<a href="#"><div class="abc"> <img src="../../assets/img/category/flower.jpeg" class="img-responsive" alt=""></div>
 <p> <strong>Florists </strong>  </p></a>
</div>

<div class="col-md-3 col-xs-12 box_img">
<a href="#"><div class="abc"> <img src="../../assets/img/category/catering.jpg" class="img-responsive" alt=""></div>
 <h6> <strong>Catering </strong>  </h6></a>
</div>

<div class="col-md-3 col-xs-12 box_img"> 
<a href="#"> <div class="abc"><img src="../../assets/img/category/footware.jpg" class="img-responsive" alt=""></div>
 <h6> <strong>Footwear </strong>  </h6></a>
</div>

<div class="col-md-3 col-xs-12 box_img">
<a href="#"><div class="abc"><img src="../../assets/img/category/trawls.jpg" class="img-responsive" alt=""></div>
 <h6> <strong>Honeymoon  </strong>  </h6></a>
</div>

<div class="col-md-3 col-xs-12 box_img">
<a href="#"><div class="abc"><img src="../../assets/img/category/card.png" class="img-responsive" alt=""></div>
 <p> <strong>Invitation Cards  </strong>  </p></a>
</div>

<div class="col-md-3 col-xs-12 box_img">
<a href="#"> <div class="abc"><img src="../../assets/img/category/jwellary.png" class="img-responsive" alt=""></div>
 <p> <strong>Jewellery  </strong>  </p></a>
</div>

<div class="col-md-3 col-xs-12 box_img">
<a href="#"><div class="abc"><img src="../../assets/img/category/mehndi.jpg" class="img-responsive" alt=""></div>
 <p> <strong>Mehendi </strong>  </p></a>
</div>

<div class="col-md-3 col-xs-12 box_img">
<a href="#"><div class="abc"><img src="../../assets/img/category/celebrat.jpg" class="img-responsive" alt=""></div>
 <h6> <strong>Marriage Celebrant </strong>  </h6></a>
</div>

<div class="col-md-3 col-xs-12 box_img">
<a href="#"><div class="abc"><img src="../../assets/img/category/dj.jpg" class="img-responsive" alt=""></div>
 <p> <strong>Music, DJs </strong>  </p></a>
</div>

<div class="col-md-3 col-xs-12 box_img">
<a href="#"><div class="abc"><img src="../../assets/img/category/acce.jpg" class="img-responsive" alt=""></div>
 <p> <strong> Accessories </strong>  </p></a>
</div>

<div class="col-md-3 col-xs-12 box_img">
<a href="#"><div class="abc"><img src="../../assets/img/category/photographer.jpg" class="img-responsive" alt=""></div>
 <p> <strong>Photography </strong>  </p></a>
</div>

<div class="col-md-3 col-xs-12 box_img">
<a href="#"><div class="abc"><img src="../../assets/img/category/vanu.jpg" class="img-responsive" alt=""></div>
 <h6> <strong>Venues </strong>  </h6></a>
</div>

<div class="col-md-3 col-xs-12 box_img">
<a href="#"><div class="abc"><img src="../../assets/img/category/car.jpg" class="img-responsive" alt=""></div>
 <p> <strong>Wedding Cars  </strong>  </p></a>
</div>

<div class="col-md-3 col-xs-12 box_img">
<a href="#"><div class="abc"><img src="../../assets/img/category/planner.JPG" class="img-responsive" alt=""></div>
 <p> <strong>Wedding Planner  </strong>  </p></a>
</div>

<div class="col-md-3 col-xs-12 box_img">
<a href="#"><div class="abc"><img src="../../assets/img/category/fitnes.jpg" class="img-responsive" alt=""></div>
 <h6> <strong>Shape & Fitness </strong>  </h6></a>
</div>



</div>

</section>


