<app-menu></app-menu>


<section class="contact_us">
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d396154.2548715597!2d75.79027847337561!3d22.708063533462894!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1530948933000" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>

  </section>
 <div class="container-fluid contact_us_list">
<div class="container">
    <div class="">
    	<div class="col-md-6">
             <h5> Find Us There</h5>
             <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard  </p>

            <form>

            	<legend>  <i class="fa fa-mobile" aria-hidden="true"></i>

                 <ul>
                  <li>Phone</li>
                  <li> 1234567889</li>
               </ul>

               
           </legend>

           <legend> <i class="fa fa-fax" aria-hidden="true"></i>

                 <ul>
                  <li>Fax</li>
                  <li > 1234567889</li>
               </ul>

              
           </legend>
            <!-- <legend> <a href=""><i class="fa fa-mobile" aria-hidden="true"></i> 

               <ul>
                  <li>Phone</li>
                  <li> 1234567889</li>
               </ul>


             </a></legend>
             <legend><a href="">  <i class="fa fa-fax" aria-hidden="true"></i>

              <ul>
                  <li>Fax</li>
                  <li> 1234567889</li>
               </ul>

             </a>  
            </legend> -->
              <legend> <i class="fa fa-globe" aria-hidden="true"></i>

                 <ul>
                  <li>Web</li>
                  <li class="pink"> www.perfectwed.com</li>
               </ul>

            
           </legend>
               <legend><i class="fa fa-envelope-o" aria-hidden="true"></i> 

              <ul>
                  <li>Email</li>
                  <li class="pink"> www.perfectwed.com</li>
               </ul>
              
               </legend>
              
            
            </form>
        </div>

       <div class="col-md-6 cont_bg">
            <div>
              <h4>CONTACT FORM</h4>
            </div>
            <form method="post" data-form-title="CONTACT US">
              <input type="hidden" data-form-email="true">
              <div class="form-group">
                <input  type="text" class="form-control" name="name" required="" placeholder="Name*" data-form-field="Name">
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" required="" placeholder="Email*" data-form-field="Email">
              </div>
              <div class="form-group">
                <input type="tel" class="form-control" name="subject" placeholder="Subject" data-form-field="subject">
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" placeholder="Message" rows="3" data-form-field="Message"></textarea>
              </div>
              <div>
                <button type="submit" class="btn btn-lg btn-danger">Submit Message</button>
              </div>
            </form>
          </div>
    
        
    </div>
</div>
 </div> 

 







<app-foot></app-foot>
<router-outlet></router-outlet>