.contact_us{
   padding-top: 80px;
}

.contact_us_list{
    margin-top: 0px;
   
    background-color: #fff;
    padding: 50px 20px;
}
.btn-lg, .btn-group-lg > .btn{
   color: #fff !important; 
}
.cont_bg{

    background-color: #f2f2f2;
    padding: 30px 50px;
}
.contact_us_list a{
    color: #000000 !important;
}


form legend a i{
   padding-right: 10px;
       
}
legend ul li{
   list-style-type: none;
   font-size: 14px;
}
legend ul {
   margin-top: -27px;
   padding-bottom: 0;
   font-size: 18px;
    
}
legend{
     padding-bottom: 0;
}
.pink{
   color: #e72e77;
}
.cont_bg button{
    background-color: #e72e77 !important;
}
.contact_us_list form li{line-height: 25px !important;}


@media(max-width: 768px){
 
 .cont_bg{
   padding: 30px 18px;
 }
 .contact_us_list{
    padding: 30px 20px;
 }
 .contact_us iframe{

    height: 150px;
 }
}
