<app-menu></app-menu>


<section class="events container-fluid">

	<h2 class="text-center"> <b> Events </b>  </h2>
	<hr>

 <div class="container">
		<div class="row">
			<div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
				<ul class="event-list">
					<li>
						<time datetime="2014-07-20">
							<span class="day">4</span>
							<span class="month">Jul</span>
							<span class="year">2018</span>
							<span class="time">ALL DAY</span>
						</time>
						
						<div class="info">
						<h5 _ngcontent-c6="">Display heading </h5>
                        
						<div class="text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry.  </div>
                            <div class="clearfix"> </div>

                        <a _ngcontent-c5="" class="btn btn-raised gradient-pomegranate white eventsbtn" href="javascript:void(0)">Register  </a>
  
							
						</div>

                 
					</li>

					<li>
						<time datetime="2014-07-20 2000">
							<span class="day">20</span>
							<span class="month">Jan</span>
							<span class="year">2014</span>
							<span class="time">8:00 PM</span>
						</time>
						
						<div class="info">
						<h5 _ngcontent-c6="">Display heading </h5>
                        
						<div class="text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry.  </div>
                            <div class="clearfix"> </div>

                        <a _ngcontent-c5="" class="btn btn-raised gradient-pomegranate white eventsbtn" href="javascript:void(0)">Register  </a>
  
							
						</div>
					
					</li>

					<li>
						<time datetime="2014-07-31 1600">
							<span class="day">31</span>
							<span class="month">Jan</span>
							<span class="year">2014</span>
							<span class="time">4:00 PM</span>
						</time>
						
						<div class="info">
						<h5 _ngcontent-c6="">Display heading </h5>
                        
						<div class="text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry.  </div>
                            <div class="clearfix"> </div>

                        <a _ngcontent-c5="" class="btn btn-raised gradient-pomegranate white eventsbtn" href="javascript:void(0)">Register  </a>
  

						</div>
					
					</li>
				</ul>
			</div>
		</div>
	</div>

  
</section>

<app-foot></app-foot>
<router-outlet></router-outlet>