<app-menu></app-menu>
<app-tool></app-tool>
<app-userbanner></app-userbanner>
<div class="col-md-12 overwiev">
    <h2><strong>Overview My Wedding Tools  </strong> </h2>
  <div class="col-md-3 anker_colo">
      <a href="#">
            <div class="compair">
                    <p><i class="material-icons">insert_invitation </i>  CAMPARE FINALIZE</p>   
                    <div class="magin_top_40px">
                        <span class="numb">  8 </span>
                        <p>  MY SUPLIYERs</p>
                    </div>
                 </div>
      </a>  
  </div>

  <div class="col-md-3 anker_colo">
        <a href="#">
              <div class="compair">
                      <p class="font_size_14px"><i class="material-icons">insert_invitation </i>INVITED 90 OUT OF 160 GUESTS</p>   
                      <div class="magin_top_40px">
                          <span class="numb">160 </span>
                          <p>INVITED GUESTS</p>
                      </div>
                   </div>
        </a>  
    </div>

    <div class="col-md-3 anker_colo">
            <a href="#">
                  <div class="compair">
                          <p><i class="material-icons">insert_invitation </i>SPENT $1200 OUT OF $20,000</p>   
                          <div class="magin_top_40px">
                              <span class="numb">$ 20,000 </span>
                              <p>YOUR BUDGET</p>
                          </div>
                       </div>
            </a>  
        </div>

        <div class="col-md-3 anker_colo">
                <a href="#">
                      <div class="compair">
                              <p><i class="material-icons">insert_invitation </i>COMPLETED 3 OF 80</p>   
                              <div class="magin_top_40px">
                                  <span class="numb">80 </span>
                                  <p>CHECKLIST TO DO</p>
                              </div>
                           </div>
                </a>  
            </div>
</div>
<div class="clearfix"></div>
<app-foot></app-foot>
<router-outlet></router-outlet> 