.overwiev{
    margin-top: 40px;
    margin-bottom: 40px;
}
.compair{
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 3px 3px 3px 3px #ccc;
}
.anker_colo a{
    color: black !important;
}
.compair p i{
    position: relative;
    top: 5px;
}
  .compair .numb{
    font-size: 30px;
    font-weight: bold;
    color: #e72e77;
}
.magin_top_40px{
    margin-top:40px;
}
.compair .material-icons{
    color: #ccc !important;
    left: -4px;
}
.font_size_14px{
    font-size: 14px;
}
.overwiev h2{
    margin-left: 17px;
    margin-bottom: 20px;
}
.compair i:hover{
    color: #e72e77 !important;
}
@media(max-width:767px){

    .anker_colo{
        margin-bottom: 20px !important;
    }
    .overwiev h2{
        font-size: 24px;
    }
}