.freq_ask{
   margin-bottom: 50px;
}

.box_text{
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
}
.box_text p{
    text-align: justify;
}
.col-md-3{
  margin-bottom: 20px;
}