<nav class="navbar navbar-expand-lg navbar-light  headernav" id="mainNav">
    <div class="container mrg_top_menu">
        <a class="navbar-brand js-scroll-trigger logo_icon" routerLink="../../home"> Perfect Wedding</a>

        <button class="navbar-toggler tik hidden-md hidden-sm hidden-lg" type="button" data-toggle="slide-collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
      </button>


<button class="navbtntik hidden-md hidden-sm hidden-lg" data-toggle="slide-collapse" type="button">
  <div class="line11"></div>
  <div class="line33"></div>
</button>

<button class="hidden-md hidden-sm hidden-lg tikright" data-toggle="slide-collapse" type="button">
  
</button>
<button class="hidden-md hidden-sm hidden-lg tikrightclose" data-toggle="slide-collapse" type="button" style="display:none;">
    <div class="line11"></div>
  <div class="line33"></div>
</button>


       <div class="collapse navbar-collapse" id="navbarResponsive">

             <ul class="navbar-nav ml-auto fmc-dropdown-perspective">
                <li class="nav-item dropdown ">
                        <a id="dropdownMenuButton" class="nav-link js-scroll-trigger dropdown-toggle mob_arrow" data-toggle="dropdown"  href="#about">Wedding Suppliers</a>

                        <div class="col-md-12 dropdown-menu fmc-dropdown-content-perspective" aria-labelledby="dropdownMenuButton">
                                <div class="col-md-6 col-xs-12">
                                        <ul>
                                                <li>
                                                        <a href="#" class="dropdown-item"><i class="fa fa-birthday-cake" aria-hidden="true"></i>  <span>Cakes </span> </a>
                                                  </li>
                                            <li>
                                                  <a href="#" class="dropdown-item"><i class="fa fa-camera" aria-hidden="true"></i>  <span>Decorators & Wedding Stylist </span> </a>
                                            </li>
                                            <li>
                                                  <a href="#" class="dropdown-item"><i class="fa fa-glass" aria-hidden="true"></i>  <span>Drinks and Beverages </span> </a>
                                            </li>
                                            <li>
                                                  <a href="#" class="dropdown-item"><i class="fa fa-paint-brush" aria-hidden="true"></i> <span>Fashion & Clothing</span> </a>
                                            </li>
                                            <li>
                                                  <a href="#" class="dropdown-item"> <i class="fa fa-paint-brush" aria-hidden="true"></i>  <span>Florists, Bouquets and Centerpiece </span> </a>
                                            </li>
                                            <li>
                                              <a href="#" class="dropdown-item"> <i class="fa fa-cutlery" aria-hidden="true"></i>  <span>Food & Catering </span> </a>
                                        </li>
                                        <li>
                                          <a href="#" class="dropdown-item"> <i class="fa fa-camera" aria-hidden="true"> </i>  <span>Footwear</span> </a>
                                    </li>
                                    <li>
                                      <a href="#" class="dropdown-item"> <i class="fa fa-camera" aria-hidden="true"> </i> <span>Honeymoon & Travel</span> </a>
                                </li>
                                <li>
                                  <a href="#" class="dropdown-item"> <i class="fa fa-address-card-o" aria-hidden="true"></i>
  <span>Invitation Cards & Wedding Stationary </span> </a>
                            </li>
                            <li>
                              <a href="#" class="dropdown-item"><i class="fa fa-camera" aria-hidden="true"> </i> <span>Jewellery & Wedding Rings </span> </a>
                           </li>
                          
                        </ul>  
                    </div>


                    <div class="col-md-6 col-xs-12">
                            <ul>
                                    <li>
                                            <a href="#" class="dropdown-item"> <i class="fa fa-camera" aria-hidden="true"> </i> <span>Make Up, Hair &Mehendi</span> </a>
                                           </li>
                                <li>
                                      <a href="#" class="dropdown-item"> <i class="fa fa-camera" aria-hidden="true"></i> <span> Marriage Celebrant</span> </a>
                                </li>
                                <li>
                                      <a href="#" class="dropdown-item"> <i class="fa fa-music" aria-hidden="true"></i>  <span>Music, DJs & Entertainment </span> </a>
                                </li>
                                <li>
                                      <a href="#" class="dropdown-item"><i class="fa fa-paint-brush" aria-hidden="true"></i> <span>Other wedding Supplies & Accessories</span> </a>
                                </li>
                                <li>
                                      <a href="#" class="dropdown-item"> <i class="fa fa-paint-brush" aria-hidden="true"></i>  <span>Photography, Videography & Cinematography</span> </a>
                                </li>
                                <li>
                                  <a href="#" class="dropdown-item"> <i class="fa fa-venus" aria-hidden="true"></i>  <span>Venues</span> </a>
                            </li>
                            <li>
                              <a href="#" class="dropdown-item"><i class="fa fa-car" aria-hidden="true"></i>  <span>Wedding Cars & Transport</span> </a>
                        </li>
                        <li>
                          <a href="#" class="dropdown-item"> <i class="fa fa-camera" aria-hidden="true"> </i> <span>Wedding Planner & Event Management</span> </a>
                    </li>
                    <li>
                      <a href="#" class="dropdown-item"> <i class="fa fa-camera" aria-hidden="true"> </i> <span>Shape & Fitness </span> </a>
                </li>
                <li>
                  <a href="#" class="dropdown-item"> <i class="fa fa-paper-plane-o" aria-hidden="true"></i><span>Pamper Packages </span> </a>
            </li>
           
                            </ul>  
                          </div> 

                          <div class="clearfix"> </div>
                          <div class="are_you">
                              <div class="col-md-6 col-xs-12">
                                  <p class="vendo">Are you a vendor?</p>
                              </div>
                              <div class="col-md-6 col-xs-12">
                                  <p class="regi"> <a href="#"> Register Now</a>  </p>
                              </div>
                          </div>

                        </div> 
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" (click)="save()" routerLink="/home/photo">Photos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" routerLink="/home/tips">Tips & Articles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" routerLink="/home/events">Events</a>
                </li>
              
                <li class="nav-item" id="login">
                  <a  class="nav-link js-scroll-trigger" data-toggle="modal" (click)="remove()" data-target="#MMM">LogIn</a>
                </li>
                <li class="nav-item user" ngbDropdown placement="bottom-right">
                        <a class="nav-link position-relative" id="dropdownBasic3" ngbDropdownToggle>
                            <i class="ft-user font-medium-3"></i>
                            <p class="d-none">User Settings</p>
                        </a>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic3">                           <a class="dropdown-item" routerLink="/home">
                                <i class="ft-power mr-2"></i>
                                <span>Logout</span>
                            </a>
                            <!-- <a class="dropdown-item py-1" routerLink="profile">
                                <i class="ft-edit mr-2"></i>
                                <span>My Profile</span>
                            </a>
                            <a class="dropdown-item py-1" routerLink="chat">
                                <i class="ft-mail mr-2"></i>
                                <span>My Inbox</span>
                            </a>
                            <a class="dropdown-item py-1" href="javascript:;">
                                <i class="ft-settings mr-2"></i>
                                <span>Settings</span>
                            </a> -->
                            <!-- <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="javascript:;">
                                <i class="ft-power mr-2"></i>
                                <span>Logout</span>
                            </a> -->
                        </div>
                </li>  
            </ul> 
        </div>
    </div>
</nav>

  
  <div class="modal fade loginboxmodal " id="MMM" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Modal cascading tabs-->
            <div class="modal-c-tabs text-right">
                <!-- Nav tabs -->
                <button type="button" class="btn waves-effect ml-auto closebtn" data-dismiss="modal">&times;</button>
                <ul class="nav nav-tabs tabs-2 light-blue darken-3 customerlogin" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active logintab" data-toggle="tab" href="#panel7" role="tab">
                        <i class="fa fa-user mr-1"></i> Login
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link registertab" data-toggle="tab" href="#panel8" role="tab" >
                        <i class="fa fa-user-plus mr-1"></i> Register
                    </a>
                </li>
                </ul>
                <ul class="nav nav-tabs tabs-2 light-blue darken-3 vendorlogin" role="tablist" style="display:none;">
                    <li class="nav-item">
                    <a class="nav-link active logintab" data-toggle="tab" href="#panel7" role="tab">
                        <i class="fa fa-user mr-1"></i> Vendor Login
                    </a>
                    </li>
                </ul>
                <!-- Tab panels -->
                <div class="tab-content">
                    <!--Panel 7-->
                    <div class="tab-pane fade in active" id="panel7" role="tabpanel">
                        <!--Body-->
                        <form role="form" action="" method="post" id="id7">
                            <div class="modal-body mb-1 align_left">
                                <div class="input-effect  md-form mt-3">
                                    <input class="effect-16"  type="email" required="required" placeholder="email">
                                    <label>Your Email</label>
                                    <span class="focus-border"></span>
                                </div> 
                                <div class="input-effect  md-form mt-3">
                                    <input class="effect-16"   type="password" required="required"  placeholder="Password">
                                    <label>Password</label>
                                    <span class="focus-border"></span>
                                </div>   
                                <div class="text-center mt-2" >
                                    <button class="btn btn-info" routerLink="../User/Timeline">Log in 
                                        <i class="fa fa-sign-in ml-1"></i>
                                    </button>
                                    <p class="pt-1">
                                            <a  href="#" class="pink-text">Forgot Password</a>
                                    </p>
                                    <p class="pt-1">
                                        Already have an account? 
                                        <a data-toggle="tab" href="#panel8" role="tab" class="pink-text signup_click" >Sign Up</a>
                                    </p>  
                                </div>
                            </div>
                        </form>
                        <!--Footer-->
                            <div class="modal-footer ls_fot">
                        
                                <div class="bordashpad">
                                Are you a vendor? <a (click)="loadScript()" class="btn btn-info">Business Sign In</a>
                                </div>
                        
                            </div>     
                    </div>
                    <!--/.Panel 7-->
                    <!--Panel 8-->
                    <div class="tab-pane fade" id="panel8" role="tabpanel">
                    <!--Body-->
                        <form role="form" action="" method="post" id="id8">
                            <div class="modal-body mb-1 align_left">               
                                
                                <div class="input-effect form-group md-form mt-3">
                                    <input class="effect-16"  type="email" required="required" placeholder="">
                                    <label>Your Email</label>
                                    <span class="focus-border"></span>
                                </div>   
                                <div class="input-effect form-group md-form mt-3">
                                    <input class="effect-16"  type="password" required="required" placeholder="">
                                    <label>Password</label>
                                    <span class="focus-border"></span>
                                </div>  
                                <div class="input-effect form-group md-form mt-3">
                                    <input class="effect-16"  type="password" required="required" placeholder="">
                                    <label>Confirm Password</label>
                                    <span class="focus-border"></span>
                                </div>  
                                    
                            
                                <div class="text-center form-sm mt-2">
                                    <button class="btn btn-info">Sign up 
                                    <i class="fa  fa-sign-in ml-1"></i>
                                </button>
        
        
                                <p class="pt-1">Already have an account? 
                            <a data-toggle="tab" href="#panel7" role="tab" class="pink-text signin_click" >Log In</a></p>
                                </div>
                                </div>
                        </form>
                        <!--Footer-->
                        <div class="modal-footer ls_fot">
                            <div class="bordashpad">
                                Are you a vendor? <a (click)="loadScript()" class="btn btn-info">Business Sign In</a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="panel9" role="tabpanel">
                        <form role="form" action="" method="post">
                            <div class="modal-body mb-1 align_left">
                                <div class="input-effect form-group md-form mt-3">
                                    <input class="effect-16"  type="email" required="required" placeholder="">
                                    <label>Your Email</label>
                                    <span class="focus-border"></span>
                                </div>   
                                <div class="input-effect form-group md-form mt-3">
                                    <input class="effect-16"   type="password" required="required"  placeholder="">
                                    <label>Password</label>
                                    <span class="focus-border"></span>
                                </div>   
                                <div class="text-center mt-2">
                                   <button class="btn btn-info vendor" routerLink="../vendor/dashboard" >Log in <i class="fa 
                                    fa-sign-in ml-1"></i></button>
            
                                    <p class="pt-1">
                                        <a  href="#" class="pink-text">Forgot Password</a>
                                    </p>
            
                                    <p class="pt-1">Not a member? 
                                        <a  data-dismiss="modal" routerLink="../register" class="pink-text">Business Sign up</a>
                                    </p>
                                </div>    
                            </div>
                            <div class="modal-footer ls_fot">
                                <div class="bordashpad" >
                                    Are you a Customer?   
                                    <a  data-toggle="tab" role="tab"   class="btn btn-info" (click)="userin()"> 
                                        Customer Sign in
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                   <!--/.Panel 8-->
                </div>
            </div>
        </div>
        <!--/.Content-->
    </div>
  </div>

<router-outlet></router-outlet>