<div>
<header class="masthead text-center text-white d-flex">
  <div class="container my-auto">
    <div class="row heading_mob_mar">
        <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">Your Wedding, Your Way</h2>
            <p class="text-faded mb-4">Find the best wedding vendors with thousands of trusted reviews</p>
         
              <!-- <span class="hidden-md hidden-sm hidden-lg mobvendorebtn">
              <i class="large material-icons firsticon">local_mall</i>
              Find Vendor
              <i class="large material-icons lasticon arrow1">arrow_forward</i>
            </span>
 -->

             <div class="mobvendorebtn"> 
              <i class="large material-icons firsticon">local_mall</i>
              Find Vendor
              <span class="arrow">
                <span></span>
              </span></div>
           </div>
          

           <div class="col-sm-10 mx-auto no-gutters searchbar mob_dis_none">
              <div class="form-group col-sm-5 padd_bottom">
                  <select class="form-control">
                      <option>Select Vendor Type</option>
                      <option>Select Vendor Type</option>
                      <option>Select Vendor Type</option>
                      <option>Select Vendor Type</option>
                      <option>Select Vendor Type</option>
                    </select>
              </div>
              <div class="form-group col-sm-5">
                  <select class="form-control">
                      <option>Select Vendor Type</option>
                      <option>Select Vendor Type</option>
                      <option>Select Vendor Type</option>
                      <option>Select Vendor Type</option>
                      <option>Select Vendor Type</option>
                    </select>
              </div>       
              <div class="form-group col-sm-2">
                  <button class="form-control" routerLink="searchresult">
                      Get Started
                    </button>
              </div>
            </div>

<div id="tiktik" class="FilterDialog" style="display: none;">
  <div class="searchmobtitlebar">
    <img alt="close" class="icon-small margin-r-10" src="https://images.wedmegood.com/images/icons/cross-grey.png">
    
        <input type="text" value="" id="search" placeholder="Type to Search">
    
  </div>
  <div class="category-body">
    <div class="text-tertiary">Categories</div>
    <div class="regular">All Categories</div>
    <div class="regular">Wedding Venues</div>
    <div class="regular">Wedding Photographers</div>
    <div class="regular">Bridal Makeup</div>
    <div class="regular">Family Makeup</div>
    <div class="regular">Bridal Wear</div>
    <div class="regular">Groom Wear</div>
    <div class="regular">Wedding Decorators</div>
    <div class="regular">Wedding Planner </div>
    <div class="regular">Wedding Cards</div>
    <div class="regular">Wedding Videography</div>
    <div class="regular">Bridal Mehendi</div>
    <div class="regular">Wedding Cakes</div>
    <div class="regular">Wedding Jewellery</div>
    <div class="regular">Wedding Catering</div>
    <div class="regular">Trousseau Packers</div>
    <div class="regular">DJ</div>
    <div class="regular">Sangeet Choreographers</div>
    <div class="regular">Wedding Accessories</div>
    <div class="regular">Wedding Favors</div>
  </div>

  <div class="city-body" style="display: none;">
    <div class="text-tertiary">Cities</div>
    <div class="regular" routerLink="searchresult">All Cities</div>
    <div class="regular" routerLink="searchresult">Delhi NCR</div>
    <div class="regular" routerLink="searchresult">Mumbai</div>
    <div class="regular" routerLink="searchresult">Bangalore</div>
    <div class="regular" routerLink="searchresult">Hyderabad</div>
    <div class="regular" routerLink="searchresult">Pune</div>
    <div class="regular" routerLink="searchresult">Chennai</div>
    <div class="regular" routerLink="searchresult">Goa</div>
    <div class="regular" routerLink="searchresult">Jaipur</div>
    <div class="regular" routerLink="searchresult">Kolkata</div>
    <div class="regular" routerLink="searchresult">Chandigarh</div>
    <div class="regular" routerLink="searchresult">Ahmedabad</div>
    <div class="regular" routerLink="searchresult">Agra</div>
    <div class="regular" routerLink="searchresult">Ambala</div>
    <div class="regular" routerLink="searchresult">Amritsar</div>
    <div class="regular" routerLink="searchresult">Aurangabad</div>
    <div class="regular" routerLink="searchresult">Bhopal</div>
    <div class="regular" routerLink="searchresult">Bhubaneswar</div>
    <div class="regular" routerLink="searchresult">Coimbatore</div>
    <div class="regular" routerLink="searchresult">Dehradun</div>
    <div class="regular" routerLink="searchresult">Guwahati</div>
    <div class="regular" routerLink="searchresult">Indore</div>
    <div class="regular" routerLink="searchresult">Jaisalmer</div>
    <div class="regular" routerLink="searchresult">Jalandhar</div>
    <div class="regular" routerLink="searchresult">Jodhpur</div>
    <div class="regular" routerLink="searchresult">Kerala</div>
    <div class="regular" routerLink="searchresult">Lonavala</div>
    <div class="regular" routerLink="searchresult">Lucknow</div>
    <div class="regular" routerLink="searchresult">Ludhiana</div>
    <div class="regular" routerLink="searchresult">Madurai</div>
    <div class="regular" routerLink="searchresult">Mangalore</div>
    <div class="regular" routerLink="searchresult">Mussoorie</div>
    <div class="regular" routerLink="searchresult">Mysore</div>
    <div class="regular" routerLink="searchresult">Nagpur</div>
    <div class="regular" routerLink="searchresult">Nashik</div>
    <div class="regular" routerLink="searchresult">Patiala</div>
    <div class="regular" routerLink="searchresult">Pushkar</div>
    <div class="regular" routerLink="searchresult">Raipur</div>
    <div class="regular" routerLink="searchresult">Ranchi</div>
    <div class="regular" routerLink="searchresult">Shimla</div>
    <div class="regular" routerLink="searchresult">Siliguri</div>
    <div class="regular" routerLink="searchresult">Silvassa</div>
    <div class="regular" routerLink="searchresult">Srinagar</div>
    <div class="regular" routerLink="searchresult">Surat</div>
    <div class="regular" routerLink="searchresult">Udaipur</div>
    <div class="regular" routerLink="searchresult">Vadodara</div>
    <div class="regular" routerLink="searchresult">Varanasi</div>
    <div class="regular" routerLink="searchresult">Visakhapatnam</div>
    <div class="regular" routerLink="searchresult">Arizona, USA</div>
    <div class="regular" routerLink="searchresult">Australia</div>
    <div class="regular" routerLink="searchresult">Canada</div>
    <div class="regular" routerLink="searchresult">Dubai</div>
    <div class="regular" routerLink="searchresult">HongKong</div>
    <div class="regular" routerLink="searchresult">Indonesia</div>
    <div class="regular" routerLink="searchresult">Italy</div>
    <div class="regular" routerLink="searchresult">Mauritius</div>
    <div class="regular" routerLink="searchresult">Netherlands</div>
    <div class="regular" routerLink="searchresult">Pakistan</div>
    <div class="regular" routerLink="searchresult">Singapore</div>
    <div class="regular" routerLink="searchresult">South Africa</div>
    <div class="regular" routerLink="searchresult">Thailand</div>
    <div class="regular" routerLink="searchresult">UK</div>
    <div class="regular" routerLink="searchresult">USA</div>
    <div class="regular" routerLink="searchresult">Washington , USA</div>
    <div class="regular" routerLink="searchresult">Oman</div>
    <div class="regular" routerLink="searchresult">Puri</div>
    <div class="regular" routerLink="searchresult">Jim Corbett</div>
    <div class="regular" routerLink="searchresult">Ooty</div>
    <div class="regular" routerLink="searchresult">Coorg</div>
    <div class="regular" routerLink="searchresult">Pondicherry</div>
    <div class="regular" routerLink="searchresult">London</div>
    <div class="regular" routerLink="searchresult">New York</div>
    <div class="regular" routerLink="searchresult">San Francisco</div>
    <div class="regular" routerLink="searchresult">Los Angeles</div>
    <div class="regular" routerLink="searchresult">Kanpur</div>
    <div class="regular" routerLink="searchresult">Allahabad</div>
    <div class="regular" routerLink="searchresult">Bali</div>
    <div class="regular" routerLink="searchresult">Bikaner</div>
    <div class="regular" routerLink="searchresult">Patna</div>
    <div class="regular" routerLink="searchresult">Chittorgarh</div>
    <div class="regular" routerLink="searchresult">Kochi</div>
    <div class="regular" routerLink="searchresult">Manila</div>
    <div class="regular" routerLink="searchresult">Phillipines</div>
  </div>
</div>
    </div>
  </div>
</header>





</div>
