
<app-menu></app-menu>
<div class="container">
        <div class=" detail_page left_side_box" style="display: block;">
            <div class=" left_side_box_text left_details">
              <div class="left_box_section">
                      <div class="venu_mob"><div class="carousel_cat "> Wedding Venues </div></div>
                      <div class="left_mainDetails_title inline-stuff">
                        <div class="large_text bob_pa_left"> Mayfair Banquets </div></div>
                      <div class="left_mainDetails_address inline-stuff"> 
                        <div class="carousel_city bob_pa_left"><i class="fa fa-map-marker" aria-hidden="true"></i> Indore  </div></div>
                      <div class="left_mainDetails_mini_rating inline-stuff"><div class="large_subtext bob_pa_left"> <span>Rating:</span><span class="fa fa-star checked star_mar"></span>  <span class="">4.0</span> </div></div>
              </div>

   <div class="left_box_section">
                      <div class="vp_mainDetails_rating">
                           <div class="vp_mainDetails_mini_rating inline-stuff">
                            <div class="large_subtext bob_pa_left"> <span>RATE ME:</span> 
                              <span class="fa fa-star checked star_mar1"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                          
                            </div></div>
                      </div>
              </div>


              
              <div class="left_box_section">
                      <div class="vp_mainDetails_starting_price">
                        <div class="large_subtext bob_pa_left"> Starting Price: <span class="">₹ 1500</span></div></div>
              </div>
              <div class="left_box_section wContact">
                      <div class="">
                          <div class=""><div class="large_subtext "> <span class="contactVCTA wed_btn contact_vendor_301"> Contact Vendors </span> </div> </div>
                          <div class="vp_request_package"><div class="large_subtext "> <span class="packageVCTA wed_btn "> Request a Package </span> </div></div>
                           <div class="topstickybox check-availabilitybtn"><div class="large_subtext "> <span class="wed_btn "> Book A Tour </span> </div></div>
                      </div>
              </div>
            </div>
            <div class="left_side_box_text vp_capacity">
                <div class="left_box_section">
                    <div class="bob_pa_left"><div class="large_subtext "> Capacity </div><div class=" vp_inner_indent bob_pa_left" style="background: url('./assets/img/armchair.png');background-size:15px; background-repeat: no-repeat; background-position: left center"> <span class="seating"> Seated: </span> <span class=""> 100 - 600 </span> </div><div class=" vp_inner_indent bob_pa_left" style="background: url('./assets/img/love-is-in-the-air.png');background-size:15px; background-repeat: no-repeat; background-position: left center"> <span class="seating"> Floating: </span>  <span class=""> 200 - 1000 </span> </div></div>
                </div>
            </div>
            <div class="left_side_box_text vp_otherPrices">
                <div class="left_box_section">
                    <div class=""><div class="large_subtext card_title bob_pa_left"> Venue Starting Prices (₹) </div><div class="left_inner_withoutindent bob_pa_left"> <span class="large_subtext" style="text-transform:capitalize;"> Non Veg. </span> <span class="  large_subtext veg_rate"> ₹  2,000 </span> </div><div class="left_inner_withoutindent bob_pa_left"> <span class="large_subtext" style="text-transform:capitalize;"> Veg. </span> <span class="  large_subtext veg_rate"> ₹  1,900 </span> </div></div>
                </div>
            </div>
        
            <div class="left_side_box_text vp_branches">
                <div class="left_box_section">
                    <div class="bob_pa_left">

                    <div class=""> <div class=""> Branches </div> </div><div class=""><span class=""> <div class="">Indore: </div> <div class="branchAddress">New Plasiya, 143-D,AB Road,M.P</div> <div data-lattitude="19.012" data-longitude="72.822" class="">View in Map</div> </span></div><div class=""> <div class=""> Open Hours </div> </div><div class=""> 12:00PM - 12:00PM </div><div class=""> <div class=""> Social &amp; Web Links </div> </div>
                     <ul class="wed_me_social">

                       <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i> </a></li>

                       <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i> </a> </li>
                       <li><a href="#"> <i class="fa fa-instagram" aria-hidden="true"></i></a> </li>

                     </ul>
                 

                    <a href="#" target="_blank" class="complaint" style="margin: 10px 0;display: inline-block;">Report &amp; Complaint</a></div>
                </div>
            </div>
        </div>






 <div class="right_box detail_page">


<!-- carosel slider -->

<div id="jssor_1" style="position:relative;margin:0 auto;top:0px;left:0px;width:980px;height:480px;overflow:hidden;visibility:hidden;">
        <!-- Loading Screen -->
        <div data-u="loading" class="jssorl-009-spin" style="position:absolute;top:0px;left:0px;width:100%;height:100%;text-align:center;background-color:rgba(0,0,0,0.7);">
            <img style="margin-top:-19px;position:relative;top:50%;width:38px;height:38px;" src="../svg/loading/static-svg/spin.svg" />
        </div>
        <div data-u="slides" style="cursor:default;position:relative;top:0px;left:0px;width:980px;height:380px;overflow:hidden;">
            <div>
                <img data-u="image" src="../assets/img/flowrist_sup.jpg" />
                <img data-u="thumb" src="../assets/img/flowrist_sup.jpg" />
            </div>
            <div>
                <img data-u="image" src="../assets/img/detail_slide.jpg" />
                <img data-u="thumb" src="../assets/img/detail_slide.jpg" />
            </div>
            <div>
                <img data-u="image" src="../assets/img/detail_slide3.jpg" />
                <img data-u="thumb" src="../assets/img/detail_slide3.jpg" />
            </div>
            <div>
                <img data-u="image" src="../assets/img/detail_slide2.jpg" />
                <img data-u="thumb" src="../assets/img/detail_slide2.jpg" />
            </div>
            <div>
                <img data-u="image" src="../assets/img/detail_slide3.jpg" />
                <img data-u="thumb" src="../assets/img/detail_slide3.jpg" />
            </div>
            <div>
                <img data-u="image" src="../assets/img/detail_slide4.jpg" />
                <img data-u="thumb" src="../assets/img/detail_slide4.jpg" />
            </div>
            <div>
                <img data-u="image" src="../assets/img/detail_slide.jpeg" />
                <img data-u="thumb" src="../assets/img/detail_slide.jpeg" />
            </div>
            <div>
                <img data-u="image" src="../assets/img/detail_slide3.jpeg" />
                <img data-u="thumb" src="../assets/img/detail_slide3.jpeg" />
            </div>
            <div>
                <img data-u="image" src="../assets/img/detail_slide5.jpg" />
                <img data-u="thumb" src="../assets/img/detail_slide5.jpg" />
            </div>
            <div>
                <img data-u="image" src="../assets/img/detail_slide3.jpeg" />
                <img data-u="thumb" src="../assets/img/detail_slide3.jpeg" />
            </div>
            <!-- <div style="background-color:#ff7c28;">
                <div style="position:absolute;top:50px;left:50px;width:450px;height:62px;z-index:0;font-size:16px;color:#000000;line-height:24px;text-align:left;padding:5px;box-sizing:border-box;">Photos in this slider are to demostrate jssor slider,<br />
                    which are not licensed for any other purpose.
                </div>
                <img data-u="thumb" src="../assets/img/flowrist_sup.jpg" />
            </div> -->
        </div>
        <!-- Thumbnail Navigator -->
        <div data-u="thumbnavigator" class="jssort101" style="position:absolute;left:0px;bottom:0px;width:980px;height:100px;background-color:#f8f9fa;" data-autocenter="1" data-scale-bottom="0.75">
            <div data-u="slides">
                <div data-u="prototype" class="p" style="width:190px;height:84px;">
                    <div data-u="thumbnailtemplate" class="t"></div>
                    <svg viewBox="0 0 16000 16000" class="cv">
                        <circle class="a" cx="8000" cy="8000" r="3238.1"></circle>
                        <line class="a" x1="6190.5" y1="8000" x2="9809.5" y2="8000"></line>
                        <line class="a" x1="8000" y1="9809.5" x2="8000" y2="6190.5"></line>
                    </svg>
                </div>
            </div>
        </div>
        <!-- Arrow Navigator -->
        <div data-u="arrowleft" class="jssora106" style="width:55px;height:55px;top:162px;left:30px;" data-scale="0.75">
            <svg viewBox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                <circle class="c" cx="8000" cy="8000" r="6260.9"></circle>
                <polyline class="a" points="7930.4,5495.7 5426.1,8000 7930.4,10504.3 "></polyline>
                <line class="a" x1="10573.9" y1="8000" x2="5426.1" y2="8000"></line>
            </svg>
        </div>
        <div data-u="arrowright" class="jssora106" style="width:55px;height:55px;top:162px;right:30px;" data-scale="0.75">
            <svg viewBox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                <circle class="c" cx="8000" cy="8000" r="6260.9"></circle>
                <polyline class="a" points="8069.6,5495.7 10573.9,8000 8069.6,10504.3 "></polyline>
                <line class="a" x1="5426.1" y1="8000" x2="10573.9" y2="8000"></line>
            </svg>
        </div>
    </div>

<!-- carosel slider end -->




<div class="vp_about_txt">
      <div class="boxLightStyles hideShowMeNow vp_about box_section_light r_s_pre"> 

        <div class="vp_about_txt">
          <div class="vp_about_txt_title large_subtext ">
            About Us 
          </div>
          <div class="vp_about_txt_description ">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.....
        </div>

        <div class="vp_about_txt_readMore marriager_text ">
               <a href="#"> Read More </a>
        </div>

        </div>

      </div>
    </div>

<div class="boxLightStyles hideShowMeNow vp_services box_section_light1 r_s_pre">
  <div class="vp_services_txt">
   <div class="servicecontainer_0 servicecontainer">
         <div class="servicerow">
             <span class="vp_services_txt_span marriager_text_without_underline"> Wedding Venues </span>
         </div>

         <div class="servicerow">
          <span class="vp_services_txt_title headerWithoutTopBorder-0 large_subtext "> Type Of Establishment</span>
         </div>


        <div class="vp_services_txt_description vp_services_txt_description_0_0">
         <span class="inline-stuff vp_services_txt_tic_cross" style="background-size: 15px;"> <i class="fa fa-check banq_icon" aria-hidden="true"></i>  Banquet Hall  </span>

         <span class="inline-stuff vp_services_txt_tic_cross" style="background-size: 15px;"> <i class="fa fa-check" aria-hidden="true"></i>   Restaurant / Lounge Bar   </span>

        </div>


        <div class="servicerow">

          <span class="vp_services_txt_title headerWithoutTopBorder-1 large_subtext ">
              Amenities 

          </span>

          <div class="vp_services_txt_description vp_services_txt_description_0_0">
         <span class="inline-stuff vp_services_txt_tic_cross" style="background-size: 15px;"> <i class="fa fa-check" aria-hidden="true"></i>   Internet available   </span>

         <span class="inline-stuff vp_services_txt_tic_cross" style="background-size: 15px;"> <i class="fa fa-check" aria-hidden="true"></i>   Handicap Accessible   </span>

         <span class="inline-stuff vp_services_txt_tic_cross" style="background-size: 15px;"> <i class="fa fa-check" aria-hidden="true"></i>   Onsite Parking    </span>

        </div>

        <div class="vp_services_txt_description vp_services_txt_description_0_0">
         <span class="inline-stuff vp_services_txt_tic_cross" style="background-size: 15px;"> <i class="fa fa-check" aria-hidden="true"></i>  Valet Parking   </span>

         <span class="inline-stuff vp_services_txt_tic_cross" style="background-size: 15px;"> <i class="fa fa-check" aria-hidden="true"></i>   Service Staff Available   </span>
   
          <div class="vp_services_txt_seeMore marriager_text "> <a href="#"> See More </a></div>
        </div>
        </div>
   </div>
  </div>
</div>

<div class="boxLightStyles hideShowMeNow vp_venues box_section_light r_s_pre">
  <div class="heading vp_venues_txt_title large_subtext">Venues</div>
   <div class="vp_venues_txt table-responsive" style="display: block;">
       <table align="center" class="mainTable">
         <thead class="vp_tableHeadingContainer">
            <tr>
              <td class="vp_tableHeading">Name </td>
              <td class="vp_tableHeading">  Type  </td>
              <td class="vp_tableHeading vp_tableHeading_capacity">
                 <span> Capacity </span>

                 <table class="vp_subtableHeading">
                     <thead>
                        <tr>
                           <td>Seated</td>
                           <td>Floating</td>
                        </tr>
                     </thead>
                 </table>
              </td>
              <td class="vp_tableHeading">  Starting Price ₹ </td>

            </tr>
         </thead>
          <tbody class="vp_tableHeadingBody">
                <tr class="vp_tableBodyRow tableRow-0">
                  <td> North|South|Odyssey </td>
                  <td> Banquet </td>
                  <td>
                    <table class="vp_tableBodyInner">
                       <tbody>
                         <tr>
                           <td>550</td>
                           <td>800</td>
                         </tr>
                       </tbody>
                    </table>
                  </td>
                  <td> 1,900 </td>
                </tr>

                <tr class="vp_tableBodyRow tableRow-1">
                    <td> North|South </td>  
                    <td> Banquet  </td> 

                    <td>
                        <table class="vp_tableBodyInner">
                           <tbody>
                               <tr>
                                 <td>300</td>
                                 <td>800</td>
                               </tr>
                           </tbody>
                        </table>
                    </td>
                   <td> 1,700</td>
                </tr>

                <tr class="vp_tableBodyRow tableRow-2">
                   <td> South </td>
                   <td> Banquet </td>
                   <td>
                      <table class="vp_tableBodyInner">

                         <tbody>
                          <tr>
                           <td>450</td>
                           <td>500</td>

                          </tr>
                         </tbody>
                      </table>
                   </td>
                   <td>1,5000</td>
                  
                </tr>
          </tbody>


       </table>

       <div class="vp_services_txt_seeMore marriager_text "> <a href="#"> See More </a></div>

   </div>

</div>



<div class="boxLightStyles hideShowMeNow vp_review box_section_light r_s_pre">

   <div class="vp_review_txt_title large_subtext "> Reviews </div>


   <div class="vp_review_txt">
     <div class="vp_giveReviewBox">
        <span>Give A Review:</span>

        <span id="rateYoRateAndComment" class="rateYo jq-ry-container" style="width: 60px">

          <div class="jq-ry-group-wrapper">
            <div class="jq-ry-normal-group jq-ry-group">
               <span class="fa fa-star checked star_mar1"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>   
            </div>
          </div>
        </span>

    <div class="textInput">
         <input placeholder="Write a Review" type="text" class="textInputInner">
         <input type="submit" class="textInputSubmit" value="SUBMIT">
         <input class="submitedRating" type="hidden" value="0">
         <div class="errorInValidation sendAReview">
           Your review is empty. SUBMIT again to send this anyway 
         </div>
    </div>

     </div>
   </div>
</div>



<div class="boxLightStyles  box_section_light vp_similarVendors r_s_pre">
 <div class="similarVendors_cat ">
   <div class="heading">
      <div class="large_subtext ">
        Similar Vendors 
      </div>
   </div>

   <div class="inner_body">
    <div id="owl-similarVendors" style="display: block; opacity: 1;">
         <div class="">
            <div class="clearfix">

              <div class="owl-item">
                 <div class="col-md-3 mob_bot_mar ">
                  <div class="item hover_effect">
                     <img src="../assets/img/camers1.jpg" class="lazyOwl carousel_img tag_vendor_841 img-responsive">

                     <div class="carousel_content">
                        <div class="carousel_cat_body">
                           <span class="carousel_cat">
                             Wedding Venues
                           </span>
                        </div>

                        <div class="carousel_title">
                            Hotel Shayaji
                        </div>
                        <div class="carousel_city">
                         <i class="fa fa-map-marker" aria-hidden="true"></i>   Indore
                        </div>
                        <div class="carousel_rating">
                          <span class="fa fa-star checked star_mar1"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>  5.0

                        </div>

                     </div>
                 </div>
               </div>


                 <div class="col-md-3 mob_bot_mar ">
                  <div class="item hover_effect">
                     <img src="../assets/img/camers1.jpg" class="lazyOwl carousel_img tag_vendor_841 img-responsive">

                     <div class="carousel_content">
                        <div class="carousel_cat_body">
                           <span class="carousel_cat">
                             Wedding Venues
                           </span>
                        </div>

                        <div class="carousel_title">
                            Hotel Shayaji
                        </div>
                        <div class="carousel_city">
                         <i class="fa fa-map-marker" aria-hidden="true"></i>   Indore
                        </div>
                        <div class="carousel_rating">
                          <span class="fa fa-star checked star_mar1"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>  5.0

                        </div>

                     </div>
                 </div>
               </div>

                <div class="col-md-3 mob_bot_mar ">
                  <div class="item hover_effect">
                     <img src="../assets/img/camers1.jpg" class="lazyOwl carousel_img tag_vendor_841 img-responsive">

                     <div class="carousel_content">
                        <div class="carousel_cat_body">
                           <span class="carousel_cat">
                             Wedding Venues
                           </span>
                        </div>

                        <div class="carousel_title">
                            Hotel Shayaji
                        </div>
                        <div class="carousel_city">
                         <i class="fa fa-map-marker" aria-hidden="true"></i>   Indore
                        </div>
                        <div class="carousel_rating">
                          <span class="fa fa-star checked star_mar1"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>  5.0

                        </div>

                     </div>
                 </div>
               </div>

             <div class="col-md-3 mob_bot_mar ">
                  <div class="item hover_effect">
                     <img src="../assets/img/camers1.jpg" class="lazyOwl carousel_img tag_vendor_841 img-responsive">

                     <div class="carousel_content">
                        <div class="carousel_cat_body">
                           <span class="carousel_cat">
                             Wedding Venues
                           </span>
                        </div>

                        <div class="carousel_title">
                            Hotel Shayaji
                        </div>
                        <div class="carousel_city">
                         <i class="fa fa-map-marker" aria-hidden="true"></i>   Indore
                        </div>
                        <div class="carousel_rating">
                          <span class="fa fa-star checked star_mar1"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>  5.0

                        </div>

                     </div>
                 </div>
               </div>




              </div>
              
             

            </div>
           
         </div>
    </div>

   </div>
 </div>

</div>

 </div>
  </div>

  <div class="clearfix"></div>




<app-foot></app-foot>

<router-outlet></router-outlet> 