<app-menu> </app-menu>

<section class=" container-fluid tips">
  <div class="select">
      <div class="searchtopbar">
        
        <div class="col-md-2 col-xs-6 mar_left_75">
          <select class="cityinput2">
              <option>All Category</option>
              <option>Venue </option>
              <option>Decorators</option>
              <option>Food</option>
              <option>Travels</option>
              <option>Cake</option>
          </select>
        </div>

        
     
        <div class="col-md-8 col-xs-6 Search_img">
          <input type="text" name="" placeholder="Search Category" class="searchinput">
          <input type="submit" value="" class="search-button">
        </div>

      </div>

  </div>
</section>

<section class="container Venders">
   <div class="col-md-12">
    <div class="col-md-6 col-xs-12">
          <img class="img-responsive box_img" src="../assets/img/tips_img.png">
             <div class="box_text">
                 <button class="btn btn-succes">Venue </button>
          <strong> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </strong>
            </div>   
      
    </div>

    <div class="col-md-6 col-xs-12">
          <img class="img-responsive box_img" src="../assets/img/tips_img2.png">
             <div class="box_text">
                 <button class="btn btn-succes">Venue </button>
          <strong> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </strong>
            </div>   
      
    </div>

     <div class="col-md-6 col-xs-12">
          <img class="img-responsive box_img" src="../assets/img/tips_img4.png">
             <div class="box_text">
                 <button class="btn btn-succes">Venue </button>
          <strong> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </strong>
            </div>   
      
    </div>
     <div class="col-md-6 col-xs-12">
          <img class="img-responsive box_img" src="../assets/img/tips_img3.png">
             <div class="box_text">
                 <button class="btn btn-succes">Venue </button>
          <strong> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </strong>
            </div>   
      
    </div>
     <div class="col-md-6 col-xs-12">
          <img class="img-responsive box_img" src="../assets/img/tips_img2.png">
             <div class="box_text">
                 <button class="btn btn-succes">Venue </button>
          <strong> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </strong>
            </div>   
      
    </div>
     <div class="col-md-6 col-xs-12">
          <img class="img-responsive box_img" src="../assets/img/tips_img4.png">
             <div class="box_text">
                 <button class="btn btn-succes">Venue </button>
          <strong> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </strong>
            </div>   
      
    </div>
     <div class="col-md-6 col-xs-12">
          <img class="img-responsive box_img" src="../assets/img/tips_img3.png">
             <div class="box_text">
                 <button class="btn btn-succes">Venue </button>
          <strong> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </strong>
            </div>   
      
    </div>
     <div class="col-md-6 col-xs-12">
          <img class="img-responsive box_img" src="../assets/img/tips_img.png">
             <div class="box_text">
                 <button class="btn btn-succes">Venue </button>
          <strong> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </strong>
            </div>   
      
    </div>



   </div>

</section>


<div class="clearfix"></div>
<app-foot></app-foot>

<router-outlet></router-outlet>