<app-menu></app-menu>
<app-tool></app-tool>
<div class="container-fluid guest">
      <div class="col-sm-12">
<h2>Guest List</h2>          
  </div></div>  
  <div class="clearfix"></div>
    <div class="container-fluid">
      <div class="col-sm-12">
      <div class="col-sm-12 group_menu">
      <div class="col-md-6">
        <ul>
          <li> <a href=""><span class="bg_red"><i class="material-icons"> group</i> Group </span> </a>  </li>
          <li> <a href=""><span class="bg_red"><i class="material-icons">sentiment_dissatisfied</i> Guest </span> </a> </li>
          <li class="flo_right">  <select>
                                    <option>All</option>
                                    <option >Venue </option>
                                    <option >Decorators</option>
                                    <option >Food</option>
                                    </select></li>
        </ul>

      </div>

      <div class="col-md-6 serabar">
          <input  class="searchinput" name="" placeholder="Search Category" type="text">
          <span class="icon"><i class="material-icons">search</i></span>
      </div>
    </div>
      </div></div>
    

    <div class="container-fluid accordin">
      <div class="col-sm-12">
      <div class="col-sm-12">
      <div class="col-md-6 mob_bot_mar">
          <button class="accordion"><i class="material-icons"> group</i> <strong class="positi_rel"> Couple </strong>   <span>2 People</span> 
            <i class="material-icons downarrow">keyboard_arrow_down</i>
            <i class="material-icons uparrow">keyboard_arrow_up</i>
          
          </button>
          <div class="panel">
              <div class="checkbox">
                  <label><input type="checkbox" value="">Aditi</label>
                  <span class="check1"> <i class="material-icons">check</i></span>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="">Gourav</label>
                    <span class="check1"> <i class="material-icons">check</i></span>
                  </div>
          </div>
            
      </div>

      <div class="col-md-6 mob_bot_mar11">
          <button class="accordion"><i class="material-icons"> group</i> <strong class="positi_rel"> Aditi's Family </strong>   <span>120 People</span> 
            <i class="material-icons downarrow">keyboard_arrow_down</i>
            <i class="material-icons uparrow">keyboard_arrow_up</i>
          </button>
          <div class="panel">
              <div class="checkbox">
                  <label><input type="checkbox" value="">Aditi</label>
                  <span class="check1"> <i class="material-icons">check</i></span>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="">Gourav</label>
                    <span class="check1"> <i class="material-icons">check</i></span>
                  </div>
                  <div class="checkbox">
                      <label><input type="checkbox" value="">Gourav</label>
                      <span class="check1"> <i class="material-icons">check</i></span>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="">Gourav</label>
                        <span class="check1"> <i class="material-icons">check</i></span>
                      </div>
                      <div class="checkbox">
                          <label><input type="checkbox" value="">Gourav</label>
                          <span class="check1"> <i class="material-icons">check</i></span>
                        </div>
          </div>
            
      </div>
    </div>
    </div>
</div>
  <div class="clearfix"></div>
          <app-foot></app-foot>
<router-outlet></router-outlet> 