
.guest{
    margin-bottom: 15px;
    padding-bottom: 15px;

}
.guest h2 a{
    color: #000000;
}
.group_menu{
    background-color: #ffffff;
   margin-top: -30px;
      padding-left: 0;
    padding-right: 0;
}
.group_menu ul{
    padding-left: 0 !important;
}
.list{
    padding-top: 20px;
}
.list ul{
    margin: 0%;
    padding: 0%;
}
.list ul li{
    list-style-type: none;
    display: inline-block;
    margin-right: 100px;
    font-weight: bolder;
}
.list ul li a{
   font-size: 20px;
   color: #fff !important;
}
.group_menu{
    padding-top: 20px;
    margin-bottom: 30px;
}


.group_menu ul li{
    list-style-type: none;
    display: inline-block;
    margin-right: 20px;
}
.bg_red{
    background-color: #e72e77;
    padding: 8px;
    color: #ffffff;
    border-radius: 5px;
}
.flo_right{
    float: right;
}
.flo_right select{
    padding: 6px;
    border-radius: 5px;
}
.searchinput{
    border-radius: 3px;
}
.serabar .searchinput{
    width: 100%;
    text-indent: 10px;
    padding: 5px;
}
.icon .material-icons{
    position: absolute;
    top: 8px;
    right: 25px;
}
.bg_red i{
    position: relative;
    top: 4px;
}
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 ;
    background-color: transparent;
    display: none;
    overflow: hidden;
}
.accordin{
    margin-bottom: 30px;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.accordion i{
    position: relative;
    top: 8px;
    font-size: 40px;
}
.accordion span{
    display: block;
    position: relative;
    top: -20px;
    left: 50px;
}
.accordion{
    padding: 5px 5px 0 10px !important;
    background-color: #fff !important
}
.accordion:hover{
    background-color: #fff;
}
.check1{
    float: right;  
}
.check1 i{
    color: green;
    float: right;
}
.checkbox{
    background-color: #fff;
    padding: 10px;
}
.positi_rel{
    position: relative;
    top: -16px;
    left: 5px;
}
.uparrow {
    display: none;
}
.downarrow{
    position: absolute !important;
    right: 20px !important;
    top: 20px !important;
}
.uparrow{
    position: absolute !important;
    right: 20px !important;
    top: 20px !important;
}

  .accordion.active .downarrow{
  display: none;
  }
  .accordion.active .uparrow{
  display:inline;
  }
  .mob_bot_mar{
      padding-left: 0 !important;
  }
  .mob_bot_mar11{
      padding-right: 0 !important;
  }


@media(max-width:767px){
    .list ul li{  
        margin-right: 30px;
    }
    .group_menu ul li{
        margin-right: 8px;
    }
    .group_menu{
        padding-bottom: 20px;
    }
    .mob_bot_mar{
        margin-bottom: 10px !important;
    }
    .guest{
        margin-top: 50px;
    }
    .mob_bot_mar{
        padding-left: 15px !important;
    }
    .mob_bot_mar11{
        padding-right: 15px !important;
    }

}

