<div class="container-fluid footer_bg">
    <div class="col-md-3 pad_lef">
        
     <button type="button" class="btn btn-info hide_menus" data-toggle="collapse" data-target="#demo">About Perfect Weddings
 
             <span class="hidden-lg hidden-sm arrowdash">
                     <i class="fa fa-angle-down"></i>
                     <i class="fa fa-angle-up"></i>
                 </span> 
     </button>  
    
     <ul id="demo" class="collapse padd_left" >
            
         <li><a routerLink="/home/FAQ" hreflang="es-mx">Frequently Asked Questions</a></li>
         <li><a routerLink="/home/TermsandConditions" hreflang="es-cl">Ts&Cs</a></li>
         <li><a routerLink="/home/contact"  hreflang="es-ar">Contact Us</a></li>
         <li><a routerLink="/home/Careers"  hreflang="pt-br">Careers</a></li>
     </ul>
            
    </div>
 
    <div class="col-md-2 pad_lef">
 
         <button type="button" class="btn btn-info hide_menus" data-toggle="collapse" data-target="#demo1">Business Area
 
                 <span class="hidden-lg hidden-sm arrowdash">
                         <i class="fa fa-angle-down"></i>
                         <i class="fa fa-angle-up"></i>
                     </span>
         </button>
                     
         <ul class="collapse padd_left"  id="demo1">
             <li>
                 <a rel='nofollow' routerLink="/home/Advertise" > Advertise with us</a>
             </li>
             </ul>
    </div>
    <div class="col-md-3 pad_lef">
         
             <button type="button" class="btn btn-info hide_menus" data-toggle="collapse" data-target="#demo2">Download the app
                     <span class="hidden-lg hidden-sm arrowdash">
                             <i class="fa fa-angle-down"></i>
                             <i class="fa fa-angle-up"></i>
                         </span>
             </button>
            
             <ul class="collapse padd_left" id="demo2">
                 <li>
              <a rel="nofollow" href="https://app.appsflyer.com/id1113572866?pid=WP-iOS-IN&c=WP-IN-LANDINGS&s=in">
             <img src="https://cdn1.weddingwire.in/assets/img/footer/appstore_en.png" srcset="https://cdn1.weddingwire.in/assets/img/footer/appstore_en.png 1x,
                                         https://cdn1.weddingwire.in/assets/img/footer/appstore_en@2x.png 2x" />
                     </a>
                 </li>
                 <li class="mt10">
                <a rel="nofollow" href="https://app.appsflyer.com/in.co.weddings.launcher?pid=WP-Android-IN&c=WP-IN-LANDINGS">
                         <img src="https://cdn1.weddingwire.in/assets/img/footer/googleplay_en.png" srcset="https://cdn1.weddingwire.in/assets/img/footer/googleplay_en.png 1x,
                                         https://cdn1.weddingwire.in/assets/img/footer/googleplay_en@2x.png 2x" />
                     </a>
                 </li>
             </ul>
        
     </div>
 
     <div class="col-md-2 pad_lef">
            
                 <button type="button" class="btn btn-info hide_menus" data-toggle="collapse" data-target="#demo3">Follow us on 
 
                         <span class="hidden-lg hidden-sm arrowdash">
                                 <i class="fa fa-angle-down"></i>
                                 <i class="fa fa-angle-up"></i>
                             </span>
                 </button>
              
                 <ul class="footer-social padd_left collapse" id="demo3">
                     <li><a class="icon icon-footer-facebook icon-left" rel="nofollow" href="https://www.facebook.com/weddingwireindia">Facebook</a></li>
                     <li><a class="icon icon-footer-twitter icon-left" rel="nofollow" href="https://twitter.com/weddingwire_in">Twitter</a></li>
                     <li><a class="icon icon-footer-pinterest icon-left" rel="nofollow" href="https://pin.it/TObeoPW">Pinterest</a></li>
                     <li><a class="icon icon-footer-instagram icon-left" rel="nofollow" href="https://www.instagram.com/weddingwireindia/?hl=en">Instagram</a></li>
                 </ul>
             
         </div>
         <div class="col-md-2 pad_lef">
                
                     <button type="button" class="btn btn-info hide_menus" data-toggle="collapse" data-target="#demo4">Sitemap
 
                             <span class="hidden-lg hidden-sm arrowdash">
                                     <i class="fa fa-angle-down"></i>
                                     <i class="fa fa-angle-up"></i>
                                 </span>
                     </button>
                     
                     <ul class="collapse padd_left"  id="demo4">
                         <li><a  href="#">Supplier by City</a></li>
                         <li><a  href="#">Supplier by Category</a></li>
 
                         </ul>
 
                
                 
             </div>
 </div>
 <div class="dark_footer"> 

    <img src="../assets/img/red_logo_icon.png"/> <span> Perfect Wedding © 2018 all rights reserved. </span>

 </div>