









<div class="container-fluid nopadd tool_icons" style="margin-top: 80px;">


    <div class="col-md-2">
       <a routerLink="../Timeline">

        <div class="sim-button button12">
            <p> <span class="bg-icon_tools_s452c8ca858_16"></span> </p>
            <p> My Wedding </p>
        </div>
      </a>   
     </div>

  <div class="col-md-2">
       <a routerLink="../Inspirations">

        <div class="sim-button button12">
            <p>  <span class="bg-icon_tools_s452c8ca858_14"></span> </p>
            <p> My Inspirations </p>
        </div>
      </a>   
     </div>


  <div class="col-md-2">
       <a routerLink="../Bookmarks">

        <div class="sim-button button12">
            <p>  <span class="bg-icon_tools_s452c8ca858_10"></span> </p>
            <p>  CheckList </p>
        </div>
      </a>   
     </div>


      <div class="col-md-2">
       <a routerLink="../vendor">

        <div class="sim-button button12">
            <p>    <span class="bg-icon_tools_s452c8ca858_05"></span> </p>
            <p>   My Suppliers </p>
        </div>
      </a>   
     </div>

      <div class="col-md-2">
       <a routerLink="../GuestList">

        <div class="sim-button button12">
            <p>    <span class="bg-icon_tools_s452c8ca858_10"></span> </p>
            <p>   Guest list </p>
        </div>
      </a>   
     </div>



      <div class="col-md-2">
       <a routerLink="../Budget">

        <div class="sim-button button12">
            <p>     <span class="bg-icon_tools_s452c8ca858_02"></span> </p>
            <p>    Budget Planner         </p>
        </div>
      </a>   
     </div>


       <div class="col-md-2">
       <a routerLink="../UserReviews">

        <div class="sim-button button12">
            <p>     <span class="bg-icon_tools_s452c8ca858_09"></span> </p>
            <p>    My Reviews             </p>
        </div>
      </a>   
     </div>

</div>


