.banner
{
    background-image: url('https://taj.tajhotels.com/content/dam/luxury/weddings/Wedding-Proposal-16x7.jpg.transform.heroHomeDesktop.image.jpg');
    padding-top: 116px;
    margin-top: -2px;
    width: 100%;
    height: 330px;
    background-repeat: no-repeat;
    position: relative;
}
.innerbanner{
    background-color: #fff;
    height: 170px;
    width: 400px;
    margin-right: 300px;
    margin-top: 20px;
    border-radius: 5px;
   
  
}
.img-fluid{
    height: 269px;
    
}

.dj{
    margin-top: 30px;
}
.deepika{
    font-size: 20px;
}
.dj .material-icons{
   position: absolute;
   left: 90px;
}
.posi_rel{
    position: relative;
}
.face_like{
    position: absolute;
    left: 0;
 
    background: #fff;
    padding: 3px 12px 0 6px;
    height: 34px;
    border-radius: 2px;
}
.like_bg{
    background-color: rgb(59, 93, 248);
    color: #fff;
}
.tousand{
    color: black !important;
    margin-top: -35px;
    padding: 4px 27px 0 6px;
}
.change_cover{
    position: absolute;
    right: 0;
    top: 40px;
    border: 1px solid;
    border-radius: 3px;
    padding: 0 5px 5px 5px;
   
}
.change_cover a{
    color: #000 !important;
}
.change_cover a i{
    position: relative;
    top: 6px;
}
.like222{
    margin-top: -100px;
}
.innerbanner .numb{
    color: #e72e77;
}
.posi_rel i{
    color: #cccccc;
}


@media(max-width:767px){
    .like222{
        display: none;
    }
    .innerbanner{
        margin-top: 29px;
        width: 350px;
        margin-right: 25px;
        background-color: transparent;
    }
    .posi_rel i{
        left: 60px !important;
        color: #000;
    }
    .change_cover{
        right: 135px;
         top: 76%;
    }
    .banner{
        background-size: cover !important;
        height: 244px !important;
        margin-top: 20px !important;
    }
    .dj {
        margin-top: -73px;
        color: #fff;
    }
    .banner::before{
        position: absolute;
        width: 100%;
        height: 243px;
        background: rgba(0, 0, 0, 0.4);
        content: "";
        top: 0;
        left: 0px;
        opacity: 0.6;

         
    }
    .posi_rel i{
        color: #fff;
    }
    .change_cover{
        color: #fff;
    }
    .change_cover a {
        color: #fff!important;
    }
    .dj {
        position: relative;
    }
    .innerbanner .numb {
        color: #ffffff;
    }
}