<div class="banner" >
    <div class="innerbanner container " >
         <div class="dj text-center">
          <!-- <span class="dd">D</span> <span class="jj">J</span> -->
          <p class="deepika"> <strong>Deepika Padukone & Ziggy Marley  </strong>   </p>
          <p class="text-center posi_rel"> <i class="material-icons">date_range</i> 16th January, 2019</p>
          <p class="text-center"><strong> <span class="numb"> 176  </span>  days to go!</strong></p>
         </div> 
       </div>
       <div class="like222">
          <p class="face_like tousand">  <strong>222 K  </strong> </p>
          <p class="like_bg face_like"> <i class="material-icons">thumb_up</i> Like</p>
       </div>
       <div class="change_cover">
          <a href="#"> <i class="material-icons"> camera_alt </i> Change Cover </a> 
       </div>
       
</div>