/* You can add global styles to this file, and also import other style files */

.text-bold{
    font-weight: bold;

}

.slidemenu{
    left: 0px;
    right:0px;
    transition: 1s;
    position:inherit;
}
.inslide{
    left:280px!important;
    position: fixed!important;
   
}
.rtslide{
    left:-280px!important;
    position: fixed!important;
   
}
.headernav{margin-bottom: 0px!important;}
.modal-content{background: transparent!important;
box-shadow: none!important;
border:0px solid #fff!important;
}
.user_sign_span{
  transition: opacity 0.5s; 
  width: 100%;
}
.searchbar select{
  background-color: #ffffff!important;
}
.user_login_form{
  font-size: 16px; 
  line-height: 24px;
  width: 100%; 
  height: 48px; 
  display: inline-block; 
  position: relative; 
  background-color: 
  transparent; font-family: Roboto, sans-serif; 
  transition: height 200ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; 
  cursor: auto;
}
.modal-dialog {
  max-width: 750px!important;
  margin: 1.75rem auto;
}
.user_login_form input{
  padding: 0px; 
  position: relative; 
  width: 100%; border: none; 
  outline: none; 
  background-color: rgba(0, 0, 0, 0); 
  color: rgba(0, 0, 0, 0.87); 
  cursor:inherit; 
  font-style: inherit; 
  font-variant: inherit; 
  font-weight: inherit; 
  font-stretch: inherit; font-size: 14px; line-height: inherit; font-family: inherit; opacity: 1; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); height: 100%;
}

.user_login_hr{
  border-top: none rgb(215, 215, 215); border-left: none rgb(215, 215, 215); 
  border-right: none rgb(215, 215, 215); border-bottom: 1px solid rgb(215, 215, 215); bottom: 8px; box-sizing: content-box; margin: 0px; position: absolute; width: 100%; opacity: 1;
}
.user_login_hr2{
  border-top: none rgb(244, 67, 54); 
  border-left: none rgb(244, 67, 54); 
  border-right: none rgb(244, 67, 54);
   border-bottom: 2px solid rgb(244, 67, 54); 
   bottom: 8px; box-sizing: content-box; margin: 0px; 
   position: absolute; width: 100%; opacity: 0.15; 
   transform: scaleX(1); transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
.user_login_req{
  position: relative;
  bottom: 8px; 
  font-size: 10px; 
  line-height: 12px; 
  color: rgb(244, 67, 54); 
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; 
  display: table;
}
.user_login_req_div{
  position: relative; display: block;
}
.user_login_req_div2{
  font-size: 16px; 
  line-height: 24px; width: 100%;
  height: 48px; 
  display: inline-block; 
  position: relative; 
  background-color: transparent; 
  font-family: Roboto, sans-serif; 
  transition: height 200ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; 
  cursor: auto; padding-right: 59px;
   box-sizing: border-box;
}
.user_login_req_div2 input{
  padding: 0px; position: relative; 
  width: 100%; border: none; 
  outline: none; 
  background-color: rgba(0, 0, 0, 0); 
  color: rgba(0, 0, 0, 0.87); 
  cursor: inherit; 
  font-style: inherit; 
  font-variant: inherit; 
  font-weight: inherit; 
  font-stretch: inherit; 
  font-size: 14px; 
  line-height: inherit; 
  font-family: inherit; 
  opacity: 1; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); height: 100%;
}
.user_login_req_hr{
  border-top: none rgb(215, 215, 215); 
  border-left: none rgb(215, 215, 215);
   border-right: none rgb(215, 215, 215); 
   border-bottom: 1px solid rgb(215, 215, 215);
    bottom: 8px; box-sizing: content-box; margin: 0px; 
    position: absolute; width: 100%; opacity: 1;
}
.user_login_req_hr2{
  border-top: none rgb(0, 188, 212); border-left: none rgb(0, 188, 212); border-right: none rgb(0, 188, 212); border-bottom: 2px solid rgb(0, 188, 212); bottom: 8px; box-sizing: content-box; margin: 0px; position: absolute; width: 100%; opacity: 0.15; transform: scaleX(0); transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

#mainNav{top: 0px !important; background:rgba(0, 46, 119, 0.99) !important; }

/* ======================sidebar */
.togglebtnmenu{
    float: left;
    background: transparent;
    border: 0px solid #e5e5e5;
    box-shadow: none;
    width: 30px;
    height: 30PX;
    overflow: hidden;
    padding-left: 0px;
    padding-right: 0px;
    margin-right:20px;
    margin-top: 15px;
    outline: none!important;
    z-index: 9999!important;
    position: relative!important;
}

.togglebtnmenu span{
    background: #ffffff;
    display: block;
    width: 100%;
    height: 2px;
    margin: 8PX 0PX;
}


#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
  background:rgba(0, 46, 119, 0.7) !important;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 0px;
  }
  .card-body.collapse.show {
visibility: inherit!important;
}
.bookmarkdesign .card-body.collapse{
  padding: 0px!important;
  border-top: 1px solid #ccc!important;
}
.bookmarkdesign .card-header a{
  display: block;
  overflow: hidden;
}

.bookmarkdesign .card{
  margin-bottom: 20px!important;
  border-bottom: 0px solid #fff;
}
  #wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
  }
  /* Sidebar Styles */
  
  
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
  #wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  
  #wrapper.toggled {
    padding-left: 250px;
  }

  
.blackoverlaymobile{
    display: none;
  }
.blackoverlaymain{
    display: none;
  }

@media(min-width:768px) {
    #wrapper {
      padding-left: 0;
    }
    #wrapper.toggled {
      padding-left: 250px;
    }
    #sidebar-wrapper {
      width: 0;
    }
    #wrapper.toggled #sidebar-wrapper {
      width: 250px;
    }
    #page-content-wrapper {
      padding:0px;
      position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
      position: relative;
      margin-right: 0;
    }
  }
@media(max-width:768px) {
    #wrapper {
      padding-left: 250;
    }
    #wrapper.toggled {
      padding-left: 0px;
    }
    #sidebar-wrapper {
      width: 250px;
    }
    #wrapper.toggled #sidebar-wrapper {
      width: 0px;
    }
    #page-content-wrapper {
      padding:inherit;
      position: relative;
      margin-right:0;
    }
    #wrapper.toggled #page-content-wrapper {
      position: relative;
      margin-right: inherit;
      padding:0;
      margin-left:0px;
    }
    #wrapper #page-content-wrapper {
    position: absolute;
    margin-right: 0px;
    margin-left:250px
  }
  .blackoverlaymobile{
    background: rgb(0,0,0, 0.5);
    position: fixed;
    width: 100%;
    height:100vh;
    top:0px;
    z-index: 999;
  }
    .blackoverlaymain{
    background: rgb(0,0,0, 0.5);
    position: fixed;
    width: 100%;
    height:100vh;
    top:0px;
    z-index: 999;
  }
  .blockmobile{
    display: block!important;
  }
  .Analytics,.Profile_com{
    position: relative;
    z-index: 0;
  }
  .overhidden{
    overflow: hidden;
    position: fixed!important;
  }
  .cross .line1 {
width: 30px;
    height: 30px;
    border-bottom: 2px solid #000;
    -webkit-transform: translateY(-20px)
 translateX(5px)
 rotate(40deg);
    position: absolute;
    top: 16px;
    right: 4px;
    }
    .cross  .line2 {
        display: none;
    }
    .cross .line3 {
      width: 30px;
    height: 30px;
    border-bottom: 2px solid #000;
    -webkit-transform: translateY(20px)
 translateX(5px)
 rotate(-40deg);
    position: absolute;
      top: -25px;
    left: -7px;
    }
  }
 .line1 {
    width: 30px;
    height: 30px;
    border-bottom: 2px solid #000;
    position: absolute;
    top: -14px;
    right: 8px;
    }
  .line2 {
   width: 30px;
    height: 30px;
    border-bottom: 2px solid #000;
    position: absolute;
    top: -6px;
    right: 8px;
    }
    .line3 {
    width: 30px;
    height: 30px;
    border-bottom: 2px solid #000;
    position: absolute;
    top: 2px;
    left: 7px;;
    }

.navbtntik .line11, .tikrightclose .line11 {
width: 30px;
    height: 30px;
    border-bottom: 2px solid #fff;
    -webkit-transform: translateY(-20px)
 translateX(8px)
 rotate(40deg);
    position: absolute;
    top: 16px;
    right: 4px;
    }
    .navbtntik .line33, .tikrightclose .line33 {
      width: 30px;
    height: 30px;
    border-bottom: 2px solid #fff;
    -webkit-transform: translateY(21px)
 translateX(5px)
 rotate(-40deg);
    position: absolute;
      top: -25px;
    left: -7px;
    }
 .tikrightclose{
float: right;
    border: 0px solid #e5e5e5;
    box-shadow: none;
    width: 45px;
    height: 45PX;
    overflow: hidden;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 20px;
    margin-top: 2px;
    outline: none !important;
    background: #ccc;
    padding: 10px;
    border-radius: 100%;
    transition: 0.3s;
    z-index: 9999;
    position: relative;
    right: 0px;
}
    .navbtntik{
float: left;
    border: 0px solid #e5e5e5;
    box-shadow: none;
    width: 45px;
    height: 45PX;
    overflow: hidden;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 20px;
    margin-top: 2px;
    outline: none !important;
    background: #ccc;
    padding: 10px;
    border-radius: 100%;
    transition: 0.3s;
    z-index: 9999;
    position: relative;
}
 //===input field

:focus{outline: none;}
.input-effect{position:relative; height: 33px;}

.input-effect .effect-16{
    border: 0;
    padding: 4px 0;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    z-index: 2;
    position: relative;
    width: 100%;
}
.input-effect .effect-16 ~ label {
    position: absolute;
    left: 0;
    width: 100%;
    top: 9px;
    color: #aaa;
    transition: 0.3s;
    z-index: 1;
    letter-spacing: 0.5px;

}
.input-effect .effect-16 ~ .focus-border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgb(240, 17, 140);
    transition: 0.4s;
}

.input-effect .effect-16:focus ~ label{
    top: -17px;
    font-size: 12px;
    color:  rgb(240, 17, 140);
    transition: 0.3s;
    z-index:999;
}

.input-effect .effect-16:focus ~ .focus-border{
    width: 100%;
    transition: 0.4s;

}