.vendor{padding-top: 4%;}
.light-blue.darken-3 {
    background-color: #0277bd!important;
}
.modal-dialog{
	max-width: 500px!important;
}
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    outline: 0;
}
.modal-dialog .modal-content {    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    border: 0;}

.modal-dialog .modal-content .tab-content{
	background:#ffffff!important;
	margin-top: -30px;
	padding-top: 30px;
	border-radius: 5px;
}
.modal-dialog.cascading-modal .modal-c-tabs .nav-tabs {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    margin: 0px auto 0px auto;
    max-width: 90%;
    z-index: 99999;
    position: relative;
    border-radius: 5px;
    padding:10px;
}
.modal-dialog.cascading-modal .nav-tabs li {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.modal-dialog.cascading-modal .nav-tabs li a {
    text-align: center;
    border:0px solid #fff!important;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.nav-tabs .nav-item .nav-link {
    -webkit-border-radius: .25rem;
    border-radius: .25rem;
    background-color: inherit;
    color: #fff;
}
.nav-tabs .nav-item .nav-link.active {
    background-color: rgba(0,0,0,.2)!important;
}
.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
.modal-dialog.cascading-modal .modal-body, .modal-dialog.cascading-modal .modal-footer {
    padding-left: 2rem;
    padding-right: 2rem;
    color: #616161;
}
.md-form {
    position: relative;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.md-form input{
	border:0px solid #fff;
	border-bottom:1px solid #A6A9AE;
	border-radius:0px;
	box-shadow: none!important;
}
.md-form.form-sm .prefix {
    top: .35rem;
    font-size: 1.5rem;
}
.md-form.form-sm .prefix~input, .md-form.form-sm .prefix~textarea {
    margin-left: 2rem;
    width: -webkit-calc(100% - 2rem);
    width: calc(100% - 2rem);
}
.md-form.form-sm .prefix~label {
    margin-left: 2rem;
    font-size: .875rem;
}
.btn-info{
	color: #fff!important;
    border-radius: 0px;
    padding: 10px 20px;
    background: #e72e77;
    border:0px solid #fff;
}
.btn-info:not([disabled]):not(.disabled).active, .btn-info:not([disabled]):not(.disabled):active, .show>.btn-info.dropdown-toggle {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    background-color: #e72e77!important;

}
.bordashpad{
	padding: 10px;
	width: 100%;
	text-align: center;
}
.bordashpad .btn{
	margin-bottom: 0px;
}
a.pink-text{
	color:#e72e77!important;
}
