<app-menu></app-menu>
   
 
<div class="container-fluid recomslider">
      <!--Carousel Wrapper-->

      <div class="caroosel_headin text-center">
         <h3>Featured Wedding Suppliers </h3>
      </div>
<div id="multi-item-example" class="container  carousel slide carousel-multi-item" data-ride="carousel">

    <!--Controls-->
    <div class="caro_control caro_control_img ">
        <a class="btn-floating btn_next" href="#multi-item-example" data-slide="prev">
        <img src="../../assets/img/home-top-left.png" alt=""> </a>
        <a class="btn-floating btn_pre" href="#multi-item-example" data-slide="next">
         <img src="../../assets/img/home-top-right.png" alt="">
        </a>
    </div>              
    <!--/.Controls-->


    <!--Slides-->
    <div class="carousel-inner" data-interval="false" role="listbox">
        <!--First slide-->
        <div class="carousel-item active">
            <div class="col-md-3 bordre_rad">
                <div class="card mb-2 bordre_rad1 bordre_rad1">
                    <img class="card-img-top img-responsive" src="../../assets/img/sup_photo.jpeg" alt="Card image cap">
                          <div class="sub_div_slider">
                                  <p class="heading"> <strong>Wedding Venue</strong> </p>
                                  <P>  <strong>Hotel Sayaji</strong>  </P>
                                  <p class="mony_city"><i class="fa fa-map-marker" aria-hidden="true"></i> Indore 
                                  <span >  ₹ 2,500</span> </p>
                                  <p><span class="fa fa-star checked star_mar1"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>  4.0
                 
                                      </p>
                              </div>
                  
                </div>
            </div>
      
            <div class="col-md-3 clearfix d-none d-md-block">
                <div class="card mb-2 bordre_rad1">
                    <img class="card-img-top img-responsive" src="../../assets/img/flowrist_sup.jpg" alt="Card image cap">
                     <div class="sub_div_slider">
                                  <p class="heading"> <strong>Wedding Venue</strong> </p>
                                  <P>  <strong>Hotel Sayaji</strong>  </P>
                                  <p class="mony_city"><i class="fa fa-map-marker" aria-hidden="true"></i> Indore 
                                  <span >  ₹ 2,500</span> </p>
                                  <p><span class="fa fa-star checked star_mar1"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>  4.0
                 
                                      </p>
                              </div>
                </div>
            </div>

            <div class="col-md-3 clearfix d-none d-md-block">
                <div class="card mb-2 bordre_rad1">
                    <img class="card-img-top img-responsive" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg" alt="Card image cap">
                   <div class="sub_div_slider">
                                  <p class="heading"> <strong>Wedding Venue</strong> </p>
                                  <P>  <strong>Hotel Sayaji</strong>  </P>
                                  <p class="mony_city"><i class="fa fa-map-marker" aria-hidden="true"></i> Indore 
                                  <span >  ₹ 2,500</span> </p>
                                  <p><span class="fa fa-star checked star_mar1"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>  4.0
                 
                                      </p>
                              </div>
                </div>
            </div>
            <div class="col-md-3 bordre_rad">
                <div class="card mb-2 bordre_rad1 bordre_rad1">
                    <img class="card-img-top img-responsive" src="../../assets/img/sup_photo.jpeg" alt="Card image cap">
                          <div class="sub_div_slider">
                                  <p class="heading"> <strong>Wedding Venue</strong> </p>
                                  <P>  <strong>Hotel Sayaji</strong>  </P>
                                  <p class="mony_city"><i class="fa fa-map-marker" aria-hidden="true"></i> Indore 
                                  <span >  ₹ 2,500</span> </p>
                                  <p><span class="fa fa-star checked star_mar1"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>  4.0
                 
                                      </p>
                              </div>
                  
                </div>
            </div>

        </div>
        <!--/.First slide-->

        <!--Second slide-->
        <div class="carousel-item">

            <div class="col-md-3">
                <div class="card mb-2 bordre_rad1">
                    <img class="card-img-top img-responsive" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
                    <div class="sub_div_slider">
                                  <p class="heading"> <strong>Wedding Venue</strong> </p>
                                  <P>  <strong>Hotel Sayaji</strong>  </P>
                                  <p class="mony_city"><i class="fa fa-map-marker" aria-hidden="true"></i> Indore 
                                  <span >  ₹ 2,500</span> </p>
                                  <p><span class="fa fa-star checked star_mar1"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>  4.0
                 
                                      </p>
                              </div>
                </div>
            </div>

            <div class="col-md-3 clearfix d-none d-md-block">
                <div class="card mb-2 bordre_rad1">
                    <img class="card-img-top img-responsive" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg" alt="Card image cap">
                   <div class="sub_div_slider">
                                  <p class="heading"> <strong>Wedding Venue</strong> </p>
                                  <P>  <strong>Hotel Sayaji</strong>  </P>
                                  <p class="mony_city"><i class="fa fa-map-marker" aria-hidden="true"></i> Indore 
                                  <span >  ₹ 2,500</span> </p>
                                  <p><span class="fa fa-star checked star_mar1"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>  4.0
                 
                                      </p>
                              </div>
                </div>
            </div>

            <div class="col-md-3 clearfix d-none d-md-block">
                <div class="card mb-2 bordre_rad1">
                    <img class="card-img-top img-responsive" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg" alt="Card image cap">
                    <div class="sub_div_slider">
                                  <p class="heading"> <strong>Wedding Venue</strong> </p>
                                  <P>  <strong>Hotel Sayaji</strong>  </P>
                                  <p class="mony_city"><i class="fa fa-map-marker" aria-hidden="true"></i> Indore 
                                  <span >  ₹ 2,500</span> </p>
                                  <p><span class="fa fa-star checked star_mar1"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>  4.0
                 
                                      </p>
                              </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card mb-2 bordre_rad1">
                    <img class="card-img-top img-responsive" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
                    <div class="sub_div_slider">
                                  <p class="heading"> <strong>Wedding Venue</strong> </p>
                                  <P>  <strong>Hotel Sayaji</strong>  </P>
                                  <p class="mony_city"><i class="fa fa-map-marker" aria-hidden="true"></i> Indore 
                                  <span >  ₹ 2,500</span> </p>
                                  <p><span class="fa fa-star checked star_mar1"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>  4.0
                 
                                      </p>
                              </div>
                </div>
            </div>

        </div>
        <!--/.Second slide-->

        <!--Third slide-->
        <div class="carousel-item">

            <div class="col-md-3">
                <div class="card mb-2 bordre_rad1">
                    <img class="card-img-top img-responsive" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(53).jpg" alt="Card image cap">
                    <div class="sub_div_slider">
                                  <p class="heading"> <strong>Wedding Venue</strong> </p>
                                  <P>  <strong>Hotel Sayaji</strong>  </P>
                                  <p class="mony_city"><i class="fa fa-map-marker" aria-hidden="true"></i> Indore 
                                  <span >  ₹ 2,500</span> </p>
                                  <p><span class="fa fa-star checked star_mar1"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>  4.0
                 
                                      </p>
                              </div>
                </div>
            </div>

            <div class="col-md-3 clearfix d-none d-md-block">
                <div class="card mb-2 bordre_rad1">
                    <img class="card-img-top img-responsive" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(45).jpg" alt="Card image cap">
                    <div class="sub_div_slider">
                                  <p class="heading"> <strong>Wedding Venue</strong> </p>
                                  <P>  <strong>Hotel Sayaji</strong>  </P>
                                  <p class="mony_city"><i class="fa fa-map-marker" aria-hidden="true"></i> Indore 
                                  <span >  ₹ 2,500</span> </p>
                                  <p><span class="fa fa-star checked star_mar1"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>  4.0
                 
                                      </p>
                              </div>
                </div>
            </div>

            <div class="col-md-3 clearfix d-none d-md-block">
                <div class="card mb-2 bordre_rad1">
                    <img class="card-img-top img-responsive" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(51).jpg" alt="Card image cap">
                   <div class="sub_div_slider">
                                  <p class="heading"> <strong>Wedding Venue</strong> </p>
                                  <P>  <strong>Hotel Sayaji</strong>  </P>
                                  <p class="mony_city"><i class="fa fa-map-marker" aria-hidden="true"></i> Indore 
                                  <span >  ₹ 2,500</span> </p>
                                  <p><span class="fa fa-star checked star_mar1"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>  4.0
                 
                                      </p>
                              </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card mb-2 bordre_rad1">
                    <img class="card-img-top img-responsive" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(53).jpg" alt="Card image cap">
                    <div class="sub_div_slider">
                                  <p class="heading"> <strong>Wedding Venue</strong> </p>
                                  <P>  <strong>Hotel Sayaji</strong>  </P>
                                  <p class="mony_city"><i class="fa fa-map-marker" aria-hidden="true"></i> Indore 
                                  <span >  ₹ 2,500</span> </p>
                                  <p><span class="fa fa-star checked star_mar1"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>  4.0
                 
                                      </p>
                              </div>
                </div>
            </div>

        </div>
        <!--/.Third slide-->

    </div>
    <!--End Slides-->

</div>
<!--/.Carousel Wrapper-->

</div>



<div class="filterbtnmobile">
  <i class="fa fa-filter">
</i>
</div>

<div class="container">
	<div class="row">
		<div id="searchfilterbox" class="col-sm-3  nopadd searchfilterbox">
			<div id="accordion" class="panel">
					<div class="panel-heading">
						<h3 class="panel-title"> <img alt="close" class="icon-small hidden-sm hidden-md hidden-lg" src="../assets/img/cross-grey.png"> Search Filter</h3>
					</div>
					<div class="panel-body  filterbox" >
						<!-- location filter -->
						<div class="panel-heading" >
							<h4 class="panel-title">
								<a data-toggle="collapse" href="#collapse0">Locations
									<i class="indicator fa fa-caret-down" aria-hidden="true"></i> 
								</a>
							</h4>
						</div>
						<div id="collapse0" class="panel-collapse collapse ">
							<div><input type="text" class="cityinput" placeholder="Type the city"/></div>

							<div class="cityscroll">
								<div class="checkbox1">
										<label>
											<input type="checkbox" value="">
											Delhi NCR
										</label>
									</div>
									<div class="checkbox1" >
										<label>
											<input type="checkbox" value="">
											Mumbai
										</label>
									</div>
									<div class="checkbox1"  >
										<label>
											<input type="checkbox" value="">
											Banglore
										</label>
									</div>
									<div class="checkbox1"  >
										<label>
											<input type="checkbox" value="">
											Indore
										</label>
									</div>
									<div class="checkbox1"  >
										<label>
											<input type="checkbox" value="">
											Pune
										</label>
									</div>
							</div>
							
						</div>
						<!-- Price Range  -->
						<div class="panel-heading ">
							<h4 class="panel-title">
								<a data-toggle="collapse" href="#collapse1">
									<i class="indicator fa fa-caret-down" aria-hidden="true"></i> Price Range
								</a>
							</h4>
						</div>
						<div id="collapse1" class="panel-collapse collapse" >
							<div data-role="main" class="ui-content">
	    						<form method="post" action="/action_page_post.php">
							      <div data-role="rangeslider">
							        <label for="price-min">Price:</label>
							        <input type="range" name="price-min" id="price-min" value="200" min="0" max="1000">
							        <label for="price-max">Price:</label>
							        <input type="range" name="price-max" id="price-max" value="800" min="0" max="1000">
							      </div>
							    </form>
	  						</div>
						</div>
						<!-- Category -->
						<div class="panel-heading" >
							<h4 class="panel-title">
								<a data-toggle="collapse" href="#collapse2">
									<i class="indicator fa fa-caret-down" aria-hidden="true"></i> Category
								</a>
							</h4>
						</div>
						<div id="collapse2" class="panel-collapse collapse " >
									<div class="checkbox1">
										<label>
											<input type="checkbox" value="">
											citroen
										</label>
									</div>
									<div class="checkbox1">
										<label>
											<input type="checkbox" value="">
											citroen
										</label>
									</div>
									<div class="checkbox1">
										<label>
											<input type="checkbox" value="">
											citroen
										</label>
									</div>
									<div class="checkbox1">
										<label>
											<input type="checkbox" value="">
											citroen
										</label>
									</div>
									<div class="checkbox1">
										<label>
											<input type="checkbox" value="">
											citroen
										</label>
									</div>
								
						</div>
						<!-- Customer Rating -->
						<div class="panel-heading" >
							<h4 class="panel-title">
								<a data-toggle="collapse" href="#collapse3"><i class="indicator fa fa-caret-down" aria-hidden="true"></i> Customer Rating</a>
							</h4>
						</div>
						<div id="collapse3" class="panel-collapse collapse">
							
									<div class="checkbox1">
										<label>
											<input type="checkbox" value="">
											1 <i class="fa fa-star"></i>  & above
										</label>
									</div>
								<div class="checkbox1">
										<label>
											<input type="checkbox" value="">
											2 <i class="fa fa-star"></i>  & above
										</label>
									</div>
									<div class="checkbox1">
										<label>
											<input type="checkbox" value="">
											3 <i class="fa fa-star"></i>  & above
										</label>
									</div>
									<div class="checkbox1">
										<label>
											<input type="checkbox" value="">
											4 <i class="fa fa-star"></i>  & above
										</label>
									</div>
									<div class="checkbox1">
										<label>
											<input type="checkbox" value="">
											5 <i class="fa fa-star"></i>  & above
										</label>
									</div>
						</div>
					</div>
			</div>
		</div>

		<div class="col-sm-9 mob_top_mar">
<div class="photo_cont">
  <div class="container-fluid nopadd">
  
<div class="searchtopbar">
	<div class="col-sm-2 searchinput50 fixedsearch left0">
		<select class="cityinput2">
		    <option>All Cities</option>
		    <option>Indore</option>
		    <option>Bhopal</option>
		</select>
	</div>
<div class="col-sm-2 searchinput50 fixedsearch right0">
		<select class="venueinput">
		    <option> Venue</option>
		    <option>Photo</option>
		    <option>Photo</option>
		</select>
	</div>
	<div class="col-sm-8 mobserchfieldpage">
		<input type="text" name="" placeholder="Search" class="searchinput">
	</div>

</div>
   




<div id="citybox" class="FilterDialog" style="display: none;">
  <div class="searchmobtitlebar">
    <img alt="close" class="icon-small margin-r-10" src="../assets/img/cross-grey.png">
    
        <input type="text" value="" id="search" placeholder="Type to Search">
    
  </div>
 
 <div class="city-body">
    <div class="text-tertiary">Cities</div>
    <div class="regular" routerLink="searchresult">All Cities</div>
    <div class="regular" routerLink="searchresult">Delhi NCR</div>
    <div class="regular" routerLink="searchresult">Mumbai</div>
    <div class="regular" routerLink="searchresult">Bangalore</div>
    <div class="regular" routerLink="searchresult">Hyderabad</div>
    <div class="regular" routerLink="searchresult">Pune</div>
    <div class="regular" routerLink="searchresult">Chennai</div>
    <div class="regular" routerLink="searchresult">Goa</div>
    <div class="regular" routerLink="searchresult">Jaipur</div>
    <div class="regular" routerLink="searchresult">Kolkata</div>
    <div class="regular" routerLink="searchresult">Chandigarh</div>
    <div class="regular" routerLink="searchresult">Ahmedabad</div>
    <div class="regular" routerLink="searchresult">Agra</div>
    <div class="regular" routerLink="searchresult">Ambala</div>
    <div class="regular" routerLink="searchresult">Amritsar</div>
    <div class="regular" routerLink="searchresult">Aurangabad</div>
    <div class="regular" routerLink="searchresult">Bhopal</div>
    <div class="regular" routerLink="searchresult">Bhubaneswar</div>
    <div class="regular" routerLink="searchresult">Coimbatore</div>
    <div class="regular" routerLink="searchresult">Dehradun</div>
    <div class="regular" routerLink="searchresult">Guwahati</div>
    <div class="regular" routerLink="searchresult">Indore</div>
    <div class="regular" routerLink="searchresult">Jaisalmer</div>
    <div class="regular" routerLink="searchresult">Jalandhar</div>
    <div class="regular" routerLink="searchresult">Jodhpur</div>
    <div class="regular" routerLink="searchresult">Kerala</div>
    <div class="regular" routerLink="searchresult">Lonavala</div>
    <div class="regular" routerLink="searchresult">Lucknow</div>
    <div class="regular" routerLink="searchresult">Ludhiana</div>
    <div class="regular" routerLink="searchresult">Madurai</div>
    <div class="regular" routerLink="searchresult">Mangalore</div>
    <div class="regular" routerLink="searchresult">Mussoorie</div>
    <div class="regular" routerLink="searchresult">Mysore</div>
    <div class="regular" routerLink="searchresult">Nagpur</div>
    <div class="regular" routerLink="searchresult">Nashik</div>
    <div class="regular" routerLink="searchresult">Patiala</div>
    <div class="regular" routerLink="searchresult">Pushkar</div>
    <div class="regular" routerLink="searchresult">Raipur</div>
    <div class="regular" routerLink="searchresult">Ranchi</div>
    <div class="regular" routerLink="searchresult">Shimla</div>
    <div class="regular" routerLink="searchresult">Siliguri</div>
    <div class="regular" routerLink="searchresult">Silvassa</div>
    <div class="regular" routerLink="searchresult">Srinagar</div>
    <div class="regular" routerLink="searchresult">Surat</div>
    <div class="regular" routerLink="searchresult">Udaipur</div>
    <div class="regular" routerLink="searchresult">Vadodara</div>
    <div class="regular" routerLink="searchresult">Varanasi</div>
    <div class="regular" routerLink="searchresult">Visakhapatnam</div>
    <div class="regular" routerLink="searchresult">Arizona, USA</div>
    <div class="regular" routerLink="searchresult">Australia</div>
    <div class="regular" routerLink="searchresult">Canada</div>
    <div class="regular" routerLink="searchresult">Dubai</div>
    <div class="regular" routerLink="searchresult">HongKong</div>
    <div class="regular" routerLink="searchresult">Indonesia</div>
    <div class="regular" routerLink="searchresult">Italy</div>
    <div class="regular" routerLink="searchresult">Mauritius</div>
    <div class="regular" routerLink="searchresult">Netherlands</div>
    <div class="regular" routerLink="searchresult">Pakistan</div>
    <div class="regular" routerLink="searchresult">Singapore</div>
    <div class="regular" routerLink="searchresult">South Africa</div>
    <div class="regular" routerLink="searchresult">Thailand</div>
    <div class="regular" routerLink="searchresult">UK</div>
    <div class="regular" routerLink="searchresult">USA</div>
    <div class="regular" routerLink="searchresult">Washington , USA</div>
    <div class="regular" routerLink="searchresult">Oman</div>
    <div class="regular" routerLink="searchresult">Puri</div>
    <div class="regular" routerLink="searchresult">Jim Corbett</div>
    <div class="regular" routerLink="searchresult">Ooty</div>
    <div class="regular" routerLink="searchresult">Coorg</div>
    <div class="regular" routerLink="searchresult">Pondicherry</div>
    <div class="regular" routerLink="searchresult">London</div>
    <div class="regular" routerLink="searchresult">New York</div>
    <div class="regular" routerLink="searchresult">San Francisco</div>
    <div class="regular" routerLink="searchresult">Los Angeles</div>
    <div class="regular" routerLink="searchresult">Kanpur</div>
    <div class="regular" routerLink="searchresult">Allahabad</div>
    <div class="regular" routerLink="searchresult">Bali</div>
    <div class="regular" routerLink="searchresult">Bikaner</div>
    <div class="regular" routerLink="searchresult">Patna</div>
    <div class="regular" routerLink="searchresult">Chittorgarh</div>
    <div class="regular" routerLink="searchresult">Kochi</div>
    <div class="regular" routerLink="searchresult">Manila</div>
    <div class="regular" routerLink="searchresult">Phillipines</div>
  </div>

</div>

<div id="categorybox" class="FilterDialog" style="display: none;">
  <div class="searchmobtitlebar">
    <img alt="close" class="icon-small margin-r-10" src="../assets/img/cross-grey.png">
        <input type="text" value="" id="search" placeholder="Type to Search">
  </div>
  <div class="category-body">
    <div class="text-tertiary">Categories</div>
    <div class="regular">All Categories</div>
    <div class="regular">Wedding Venues</div>
    <div class="regular">Wedding Photographers</div>
    <div class="regular">Bridal Makeup</div>
    <div class="regular">Family Makeup</div>
    <div class="regular">Bridal Wear</div>
    <div class="regular">Groom Wear</div>
    <div class="regular">Wedding Decorators</div>
    <div class="regular">Wedding Planner </div>
    <div class="regular">Wedding Cards</div>
    <div class="regular">Wedding Videography</div>
    <div class="regular">Bridal Mehendi</div>
    <div class="regular">Wedding Cakes</div>
    <div class="regular">Wedding Jewellery</div>
    <div class="regular">Wedding Catering</div>
    <div class="regular">Trousseau Packers</div>
    <div class="regular">DJ</div>
    <div class="regular">Sangeet Choreographers</div>
    <div class="regular">Wedding Accessories</div>
    <div class="regular">Wedding Favors</div>
  </div>
</div>



 </div>
	    	<div id="products" class="row list-group" (click)="xyz()">
	        	<div class="item  col-sm-4 mar_bottom">
	               <div class="item hover_effect">
                     <img src="../assets/img/sayaji.jpg" class="lazyOwl carousel_img tag_vendor_841 img-responsive">

                     <div class="carousel_content">
                        <div class="carousel_cat_body">
                           <span class="carousel_cat">
                             Wedding Venues
                           </span>
                        </div>

                        <div class="carousel_title">
                            Hotel Shayaji
                        </div>
                        <div class="carousel_city">
                         <i class="fa fa-map-marker" aria-hidden="true"></i>   Indore <span _ngcontent-c0=""> ₹ 2,500</span>
                        </div>
                        <div class="carousel_rating">
                          <span class="fa fa-star checked star_mar1"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>  5.0

                        </div>

                        <div class="check_input">
                            <input type="checkbox" name=""> <span>Add to Compare</span>
                        </div>

                     </div>
                 </div>
	       		</div>


	       		<div class="item  col-sm-4 mar_bottom">
	               <div class="item hover_effect">
                     <img src="../assets/img/sayaji.jpg" class="lazyOwl carousel_img tag_vendor_841 img-responsive">

                     <div class="carousel_content">
                        <div class="carousel_cat_body">
                           <span class="carousel_cat">
                             Wedding Venues
                           </span>
                        </div>

                        <div class="carousel_title">
                            Hotel Shayaji
                        </div>
                        <div class="carousel_city">
                         <i class="fa fa-map-marker" aria-hidden="true"></i>   Indore <span _ngcontent-c0=""> ₹ 2,500</span>
                        </div>
                        <div class="carousel_rating">
                          <span class="fa fa-star checked star_mar1"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>  5.0

                        </div>

                        <div class="check_input">
                            <input type="checkbox" name=""> <span>Add to Compare</span>
                        </div>

                     </div>
                 </div>
	       		</div>

	        	<div class="item  col-sm-4 mar_bottom">
	               <div class="item hover_effect">
                     <img src="../assets/img/sayaji.jpg" class="lazyOwl carousel_img tag_vendor_841 img-responsive">

                     <div class="carousel_content">
                        <div class="carousel_cat_body">
                           <span class="carousel_cat">
                             Wedding Venues
                           </span>
                        </div>

                        <div class="carousel_title">
                            Hotel Shayaji
                        </div>
                        <div class="carousel_city">
                         <i class="fa fa-map-marker" aria-hidden="true"></i>   Indore <span _ngcontent-c0=""> ₹ 2,500</span>
                        </div>
                        <div class="carousel_rating">
                          <span class="fa fa-star checked star_mar1"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>  5.0

                        </div>

                        <div class="check_input">
                            <input type="checkbox" name=""> <span>Add to Compare</span>
                        </div>

                     </div>
                 </div>
	       		</div>



	        	<div class="item  col-sm-4 mar_bottom">
	               <div class="item hover_effect">
                     <img src="../assets/img/sayaji.jpg" class="lazyOwl carousel_img tag_vendor_841 img-responsive">

                     <div class="carousel_content">
                        <div class="carousel_cat_body">
                           <span class="carousel_cat">
                             Wedding Venues
                           </span>
                        </div>

                        <div class="carousel_title">
                            Hotel Shayaji
                        </div>
                        <div class="carousel_city">
                         <i class="fa fa-map-marker" aria-hidden="true"></i>   Indore <span _ngcontent-c0=""> ₹ 2,500</span>
                        </div>
                        <div class="carousel_rating">
                          <span class="fa fa-star checked star_mar1"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>  5.0

                        </div>

                        <div class="check_input">
                            <input type="checkbox" name=""> <span>Add to Compare</span>
                        </div>

                     </div>
                 </div>
	       		</div>

	        	<div class="item  col-sm-4 mar_bottom">
	               <div class="item hover_effect">
                     <img src="../assets/img/sayaji.jpg" class="lazyOwl carousel_img tag_vendor_841 img-responsive">

                     <div class="carousel_content">
                        <div class="carousel_cat_body">
                           <span class="carousel_cat">
                             Wedding Venues
                           </span>
                        </div>

                        <div class="carousel_title">
                            Hotel Shayaji
                        </div>
                        <div class="carousel_city">
                         <i class="fa fa-map-marker" aria-hidden="true"></i>   Indore <span _ngcontent-c0=""> ₹ 2,500</span>
                        </div>
                        <div class="carousel_rating">
                          <span class="fa fa-star checked star_mar1"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>  5.0

                        </div>

                        <div class="check_input">
                            <input type="checkbox" name=""> <span>Add to Compare</span>
                        </div>

                     </div>
                 </div>
	       		</div>

	        	<div class="item  col-sm-4 mar_bottom">
	               <div class="item hover_effect">
                     <img src="../assets/img/sayaji.jpg" class="lazyOwl carousel_img tag_vendor_841 img-responsive">

                     <div class="carousel_content">
                        <div class="carousel_cat_body">
                           <span class="carousel_cat">
                             Wedding Venues
                           </span>
                        </div>

                        <div class="carousel_title">
                            Hotel Shayaji
                        </div>
                        <div class="carousel_city">
                         <i class="fa fa-map-marker" aria-hidden="true"></i>   Indore <span _ngcontent-c0=""> ₹ 2,500</span>
                        </div>
                        <div class="carousel_rating">
                          <span class="fa fa-star checked star_mar1"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>  5.0

                        </div>

                        <div class="check_input">
                            <input type="checkbox" name=""> <span>Add to Compare</span>
                        </div>

                     </div>
                 </div>
	       		</div>

	        	<div class="item  col-sm-4 mar_bottom">
	               <div class="item hover_effect">
                     <img src="../assets/img/sayaji.jpg" class="lazyOwl carousel_img tag_vendor_841 img-responsive">

                     <div class="carousel_content">
                        <div class="carousel_cat_body">
                           <span class="carousel_cat">
                             Wedding Venues
                           </span>
                        </div>

                        <div class="carousel_title">
                            Hotel Shayaji
                        </div>
                        <div class="carousel_city">
                         <i class="fa fa-map-marker" aria-hidden="true"></i>   Indore <span _ngcontent-c0=""> ₹ 2,500</span>
                        </div>
                        <div class="carousel_rating">
                          <span class="fa fa-star checked star_mar1"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>  5.0

                        </div>

                        <div class="check_input">
                            <input type="checkbox" name=""> <span>Add to Compare</span>
                        </div>

                     </div>
                 </div>
	       		</div>

	        	<div class="item  col-sm-4 mar_bottom">
	               <div class="item hover_effect">
                     <img src="../assets/img/sayaji.jpg" class="lazyOwl carousel_img tag_vendor_841 img-responsive">

                     <div class="carousel_content">
                        <div class="carousel_cat_body">
                           <span class="carousel_cat">
                             Wedding Venues
                           </span>
                        </div>

                        <div class="carousel_title">
                            Hotel Shayaji
                        </div>
                        <div class="carousel_city">
                         <i class="fa fa-map-marker" aria-hidden="true"></i>   Indore <span _ngcontent-c0=""> ₹ 2,500</span>
                        </div>
                        <div class="carousel_rating">
                          <span class="fa fa-star checked star_mar1"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>  5.0

                        </div>

                        <div class="check_input">
                            <input type="checkbox" name=""> <span>Add to Compare</span>
                        </div>

                     </div>
                 </div>
	       		</div>

	        	<div class="item  col-sm-4 mar_bottom">
	               <div class="item hover_effect">
                     <img src="../assets/img/sayaji.jpg" class="lazyOwl carousel_img tag_vendor_841 img-responsive">

                     <div class="carousel_content">
                        <div class="carousel_cat_body">
                           <span class="carousel_cat">
                             Wedding Venues
                           </span>
                        </div>

                        <div class="carousel_title">
                            Hotel Shayaji
                        </div>
                        <div class="carousel_city">
                         <i class="fa fa-map-marker" aria-hidden="true"></i>   Indore <span _ngcontent-c0=""> ₹ 2,500</span>
                        </div>
                        <div class="carousel_rating">
                          <span class="fa fa-star checked star_mar1"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>  5.0

                        </div>

                        <div class="check_input">
                            <input type="checkbox" name=""> <span>Add to Compare</span>
                        </div>

                     </div>
                 </div>
	       		</div>

	        	
	        	
	        	
	        	
	    	</div>
		</div>
</div>

</div>
</div>

<app-foot> </app-foot>
<router-outlet></router-outlet>
