.glyphicon { margin-right:5px; }
.title-banner h4{
display: block;
text-align: center;
width: 100%;
font-size: 32px;
font-weight: 600;
}
.breadcrums{padding: 15px 0px;}
.searchinnerbanner{
background-image: url('../../assets/img/inner_header.jpg');
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #ffffff;
  padding-top:115px!important;
}
.filterbtnmobile{
  display:none;
}
.searchbarinner{
	margin:20px auto;
}
.list-group-item .bottomheadlink{
	display: inline-block;
	float: right;
	width: 50%;
	border-top: 0px solid #e5e5e5;
	background: orange;
    color: #fff;
    font-weight: bold;
    padding: 15px 10px;
}
.list-group-item .list-group-item-text{
margin: 15px 0px;
}
.list-group-item .lead{
	float: left;
}
.list-group-item{
	margin-left: 15px;
}

.searchbarinner input{
background: #ffffff;
padding:10px;
color: #333333;
border: 0px;
border-right:1px solid #e5e5e5;
font-size: 18px;
border-radius: 0px;
}
.searchbarinner button{
background:#e72e77;
padding:8px 20px 9px 20px;
color: #ffffff;
border: 0px;
font-size: 18px;
margin: 0px;
margin-left: -1px;
border-radius: 0px;
height: 44px;
margin-top: -5px;
}
.font18px{font-size: 18px;}
.whitebg{
	background: #ffffff;
}
.borbottom{
	border-bottom: 1px solid #ccc;
}
.bortop1px{
	border-top: 1px solid #ccc;
}

.marbot20px{margin-bottom: 20px;}
.searchcategoryhead{padding:15px 0px 13px 0px;}
.searchresultbox{
	padding: 2px 5px;
	background: #f5f5f5;
	border: 1px solid #e5e5e5;
	margin: 0px 5px;
	display: inline-block;
}
#products .thumbnail .caption{
	padding:10px 0px 0px 0px;
	text-align: center;
	overflow: hidden;
}
.nopadd{padding: 0px;}
a.bottomheadlink{
border-top: 1px solid #e5e5e5;
display: block;
width: 100%;
color: #e72e77;
font-weight: bold;
padding:15px 10px;
}
a:hover.bottomheadlink{
color: #ffffff;
background: #e72e77;
}
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 15px;
    padding: 0px;
}
.list-group-item .thumbnail{
	border:0px solid #fff;
}
#products .list-group-item .thumbnail .caption{
	padding:10px;
	text-align: left;
	overflow: hidden;
}
.item.list-group-item{
background: #ffffff;
border-radius: 0px;
}
.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}
.recomslider{
background-color:#fcfcfc;
height: auto; 
margin: 50px 0 30px 0;
padding: 30px 0px 40px 0;
}
.list-group{
	flex-direction:inherit;
}
.searchfilterbox .panel{
    background: transparent;
    border-bottom: 0px solid #fff;
    -webkit-box-shadow: 0 0px 0px rgba(0,0,0,.05);
    box-shadow: 0 0px 0px rgba(0,0,0,.05);
}
.searchfilterbox .panel-heading{
padding: 0px;
}
.searchfilterbox .panel-heading h3.panel-title{
padding:20px 10px 20px 0px;
font-weight: bold;
}
.searchfilterbox .panel-heading h4.panel-title{
padding:10px 20px 10px 10px;
font-weight: bold;
border-bottom:0px solid #e5e5e5;

}
.panel-collapse{
border-bottom:1px solid #e5e5e5;
}
.filterbox{
	padding: 0px;
}
.filterbox .panel-heading{
	background: #ffffff !important;
	border-radius: 0px;
	font-weight: normal;
	color: #000;
    margin-bottom: 10px;
}

.panel-collapse.collapse{
    margin-bottom: 10px;
}
 #list, #grid{
	margin-right:10px;
	color: #000000;
	font-size: 20px;
}
 #list i, #grid i{
	font-size: 30px;
}
.filterbox .panel-collapse{padding: 10px;
	border-bottom: 0px solid #ccc;
}
.checkbox1 label{
display: block;
}
.cityscroll{
	max-height: 105px;
	overflow-x: hidden;
	overflow-y: auto;
	margin: 10px 0px;
}
.cityinput{
	width: 100%;
}
.filterbox h4.panel-title a{
display: block;
font-weight: normal;
}
.filterbox h4.panel-title a .indicator {
float: right;
}
.filterbox h4.panel-title a:hover {
	color:#000000;
}
.favicon{
	position: absolute;
	top: 15px;
	right: 25px;
	color: #ffffff;
	cursor: pointer;
	text-shadow: 0px 0px 20px #000000;
}
.footer_bg {margin-top: 20px;}



.hover_effect {
    transition: all .25s;
    background-color: #fff;
}
.onHoverDiv {
    display: none;
    float: left;
    position: absolute;
    transition: all .3s ease;
    width: 100%;
}
.onHoverDiv h5 {
    margin-right: 0;
    text-align: right;
    font-size: 16px;
    color: #292929;
    float: left;
    font-weight: normal;
    line-height: 1.1;
    margin: 0;
    width: 100%;
}
.onHoverDiv h5 a {
    margin-right: 1px;
    border: 0;
    color: #ed434c;
    outline: 0;
    text-decoration: none;
}

div.share_div {
    background: #fff;
    box-shadow: 0 0 10px -1px #d3d3d3;
    display: none;
    float: right;
    margin-right: 8%;
    opacity: .8;
    padding: 0;
    position: relative;
    width: 105px;
    z-index: 12;
}
.jssocials-shares {
    margin: .2em 0;
}
img.lazyOwl {
    width: 100%;
}
.carousel_img {
    padding: 5px 5px 0;
}
.carousel_cat_body {
    margin: 0 5px;
    padding: 5px 0;
}
.carousel_cat {
    background: #e72e77;
    border-radius: 15px;
    color: #fff;
    display: inline-block;
    font-size: 10px;
    line-height: 22px;
    font-weight: 700;
    padding: 0px 8px;
    text-transform: uppercase;
}
.carousel_content{
    padding: 0px 5px 5px 5px;
}
.carousel_title {
    color: #383838;
    font-weight: 700;
    margin: 0 5px;
   
    text-transform: capitalize;
}
.carousel_city {
    
    background-size: 10px;
    color: #6e798a;
    font-size: 12px;
    font-weight: 400;
    margin: 0 2px;
    padding: 0 0 0 3px;
    text-transform: capitalize;
}
.carousel_rating {
    color: #6e798a;
    font-size: 12px;
    font-weight: 400;
    padding-left: 5px;

}
.owl-item{
     width: 215px !important;
}
.mar_bottom{
   margin-bottom: 20px;
}
.checked{
   color: #e72e77 ;
}


/*slider css*/

.slider_top{
   margin-top: 80px;
   padding: 20px 30px;
   margin-bottom: 20px;
}

.sub_div_slider{
   background-color: #fff;
   margin-top: 0px;
   padding-left: 10px;
   color: #000;
   padding-top: 10px;
}

.sub_div_slider .heading{
    color: #e72e77;
    font-size: 18px;
    padding: 5px 0px;

}
.mony_city span{
   display: inline-block;
   margin-right: 0 !important;
   color: #e72e77;
}
.sub_div_slider p{
   line-height: 5px !important;
}

/*End slider css*/

.thumbnail{margin-bottom: 0px !important;}
.carousel-control.left{
    background-image: url(../../assets/img/ic_arrow_right.png);
    background-repeat: no-repeat;
    rotate:180deg;
    width: 50px;
    height: 50px;
    opacity: 1;
    transform: rotate(180deg);
    top:35%;
    left:20px;
}
.carousel-control.left span, .carousel-control.right span{
    display: none;
}
.carousel-control.right{
    background-image: url(../../assets/img/ic_arrow_right.png);
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    opacity: 1;
    top:35%;
    right:20px;
}
.carousel-indicators{
    display: none;
}
.searchtopbar{
margin-bottom: 20px;
margin-top: 20px;
overflow: hidden;
}
.searchtopbar div{
    padding: 0px;
}
.searchtopbar input, .searchtopbar select{
    width: 100%;
    background: #ffffff;
    border:1px solid #ccc;
    -webkit-apperience:none;
    height: 40px;
    text-indent: 10px;
}
.carousel_city span{
    display: inline-block;
    margin-right: 0 !important;
    color: #e72e77
}
.check_input span{
  margin-left: 5px;
  font-size: 14px;
}
.check_input input{
    margin-left: 5px;
}
.cityinput2{
    background: url(../../assets/img/location_new.png) #ffffff no-repeat 7px 10px !important;
    text-indent: 20px!important;
}

.venueinput{
    background: url(../../assets/img/select_category_new.png) #ffffff no-repeat 7px 10px !important;
    text-indent: 35px!important;
}
.searchinput{
    background: url(../../assets/img/search_new.png) #ffffff no-repeat 7px 10px !important;
    text-indent: 35px!important;
}
.hover_effect:hover{
    transform: scale(1.03);
    box-shadow: 0 0 2px 2px #d3d3d3;
}
.jssor_1{

    padding-top: 100px;
}

.jssorl-009-spin img {
            animation-name: jssorl-009-spin;
            animation-duration: 1.6s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        @keyframes jssorl-009-spin {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }


        .jssorb057 .i {position:absolute;cursor:pointer;}
        .jssorb057 .i .b {fill:none;stroke:#fff;stroke-width:2000;stroke-miterlimit:10;stroke-opacity:0.4;}
        .jssorb057 .i:hover .b {stroke-opacity:.7;}
        .jssorb057 .iav .b {stroke-opacity: 1;}
        .jssorb057 .i.idn {opacity:.3;}

        .jssora073 {display:block;position:absolute;cursor:pointer;}
        .jssora073 .a {fill:#ddd;fill-opacity:.7;stroke:#000;stroke-width:160;stroke-miterlimit:10;stroke-opacity:.7;}
        .jssora073:hover {opacity:.8;}
        .jssora073.jssora073dn {opacity:.4;}
        .jssora073.jssora073ds {opacity:.3;pointer-events:none;}

.sub_div_slider{
  
  width: 100%;
  top: 150px;
}
.img_height div img{

  height: 150px !important;
}



/* carosel css*/
.caro_control{
  
  top: 25%;
}
.bordre_rad1{
  border: 1px solid rgb(228, 223, 223);
  border-radius: 1px;
  font-size: 14px;
}
.card-body a{
  color: #ccc;
}
.in_list ul li{
  list-style-type: none;
}
.information_ico{
  display: inline-block;
  width: 20px;
  float: right !important;
}

.card-body{
  background-color: #fff;
  padding: 10px 0px;
}
.card-body .card_icon{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.list{
  padding: 0%;
  margin: 0%;
  margin-left: -15px;
 
}

.card-body .list ul{
  margin: 0%;
  padding: 0%;
} 
.card-body .list ul li{
  list-style-type: none; 
  margin: 0;
  padding: 0;
} 

.list span{
  font-size: 12px;
  display: block;
}
.padd_zero{
  padding: 0;
}
.list span i{
  font-size: 13px;

}
.john_btn{
  background-color: palevioletred;
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
}

.card-body span{
  display: block;
}
.marg_top{
  margin-top: 20px;
  border-top: 1px solid rgb(247, 243, 243);
  padding: 10px 0px;
  font-size: 13px;
}
.marg_top span{
  margin-bottom: 5px;
}
.flo_left{
  float: left;
}
.flo_righ{
  float: right;
}
.span_mag span{
   margin-bottom: 10px;
}
.caroosel_headin{
margin-bottom:30px;
    margin-top: 50px;
}



.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
    height: 200px;
    width: 100%;
  }
  
  .card{
    padding: 0px;
    box-shadow: unset !important;
    margin:0px !important;
  }
  .badge{
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
  .card_tittle img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
  }
  .card_tittle .top_padd{
    margin-top: 10px;
  }
  .top_padd ul{
    padding: 0%;
    margin: 0%;
    float: left;
  }
  .top_padd ul li{
    list-style-type: none;
  }
  .pad_leftd{
    padding-left: 0 !important;
  }
  .pad_rigtd{
    padding-right: 0 !important;
  }
.btn_next{
  position: absolute;
  left: -35px;
  opacity:0.4;
  top: 150px;
}
.btn_pre{
  position: absolute;
  right: -35px;
  top: 150px;
  opacity:0.4;
}

  .feature_supp{
    background-color: #888;
   margin-top: 50px;
   margin-bottom: 50px;
  }
  figure.effect-layla h2{
    padding-top: 0% !important;
    font-size: 20px;
  }
  .grid-hover figure{
    max-height: 250px !important;
  }
  .grid-hover{
     padding: 0px !important;
  }
  figure.effect-layla img{
    height: 380px !important;
  }
.vendors_tools{
  background-color:#fcfcfc;
  padding: 30px 0px;
  margin-bottom: 50px;
}
.vendors_head{
  text-align: center;

}
.vender_headin{
  margin-bottom: 50px;
}
.homeTools[_ngcontent-c3]{
  background-color: unset !important;
}
.homeTools__item{
  width: 100% !important;
}

.carousel-inner .col-md-4{
   height: 300px !important;
}
 @media (max-width:767px){
 .recomslider{display:none;}
  .searchcategoryhead{text-align: center;}
  .searchcategoryhead .btn-group{
    display: none;
  }
  .searchresultbox{
    margin-bottom: 5px;
  }
  .searchbarinner{
    max-width: 90%;
    margin: 0px auto;
  }
  .searchbarinner input{
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    border-right:0px;
  }
  .searchbarinner button{
    width: 100%;
    margin-left: 0px;
    margin-top:-1px;
  }
    .mob_top_mar{
     margin-top: 20px;
    }
    .carousel_content{
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    }
    .py-3{
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    }
  .searchfilterbox{
  display:none;
  position: fixed;
  z-index: 999999;
  height: 100vh;
  background: #ffffff;
  }
  .searchinput50{
  max-width:50%!important;
  float:left;
  }
  .fixedsearch{
  position: fixed;
  z-index: 99999;
  width: 50%;
  top:50px;
  box-shadow: 0 3px 9px 0 rgba(0,0,0,.12);
  -moz-box-shadow: 0 3px 9px 0 rgba(0,0,0,.12);
  -webkit-box-shadow: 0 3px 9px 0 rgba(0,0,0,.12);
  }
 .fixedsearch select {
  border:0px solid #fff;
  }
  .fixedsearch select option {
  display:none!important; 
  opacity:0;
  }
  .left0{
  left:0px;
  }
  .right0{
  right:0px;
  border-left:1px solid #ccc;
  }
  .mobserchfieldpage{
  padding:4%!important;
  margin-top:55px;
  }
  .searchtopbar{
  margin-bottom:5px;
  }
  .mobserchfieldpage .searchinput{
  border-radius:20px;
  border:0px solid #fff;
  box-shadow: 0 3px 9px 0 rgba(0,0,0,.12);
  -moz-box-shadow: 0 3px 9px 0 rgba(0,0,0,.12);
  -webkit-box-shadow: 0 3px 9px 0 rgba(0,0,0,.12);
  }
  .FilterDialog{
    position: fixed;
    height: 100vh;
    left: 0px;
    top: 0px;
    width: 100%;
    background: #333;
    z-index: 999999;
    overflow: scroll;
    overflow-x: hidden;
}



.icon-small {
  width: auto;
  max-height: 15px;
  vertical-align: middle;
  position:absolute;
  top:15px;
  left:10px;
}
.searchmobtitlebar{
  position:relative;
}
.searchmobtitlebar input{
padding:10px;
width:100%;
border:0px solid #fff;
outline:none!important;
text-indent:25px;
color:#000000;
}
.category-body, .city-body{
text-align:left;
color: inherit;
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
-webkit-tap-highlight-color: rgba(0,0,0,0);
outline: none;
background:rgb(250, 250, 250);
-webkit-box-shadow: inset 0px 15px 34px -18px rgba(204,204,204,1);
-moz-box-shadow: inset 0px 15px 34px -18px rgba(204,204,204,1);
box-shadow: inset 0px 15px 34px -18px rgba(204,204,204,1);
}
.text-tertiary{
    text-align: left;
    padding: 10px 20px;
    font-size: 16px;
    color: #999;
}
.category-body .regular, .city-body .regular{
    text-align: left;
    padding: 6px 20px;
    font-size: 16px;
    color: #333;
}
.filterbtnmobile{
    position: fixed;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    right: 5%;
    top: 60%;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    box-shadow: 0 0 10px -1px black;
    z-index: 10;
    cursor: pointer;
    background:#e72e77;
    display:block;
}
.searchfilterbox .panel-heading h3.panel-title {
    padding: 12px 10px 12px 35px;
    border-bottom: 1px solid #e5e5e5;
}
.filterbox{
  max-width:90%;
  margin:0px auto;
}
.filterbox .panel-heading{
margin-bottom:0px;
border-bottom:1px solid #e5e5e5;
}
.left280px{
  left:280px!important;
}
.left467px{
  left:467px!important;
}
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}