
<app-menu></app-menu> 
<div class="sign_up_container container" id="up">
    <h2 class="text-center font-bold pt-4 pb-5 mb-5"><strong> Vendor Registration </strong></h2>
    <!-- Stepper -->
    <div class="steps-form-2" (click)="loadScript()">
        <div class="steps-row-2 setup-panel-2 d-flex justify-content-between">
            <div class="steps-step-2">
                <a href="#step-1" type="button" class="first_step btn btn-amber btn-circle-2 waves-effect ml-0" data-toggle="tooltip" data-placement="top" title="Your Business Category "><i class="fa fa-folder-open-o" aria-hidden="true"></i>
                    
                </a>
                <div class="clearfix"> </div>
                <p class="ml-yb">   Your Business Category  </p>
            </div>
            <div class="steps-step-2">
                <a href="#step-2" type="button" class="btn btn-blue-grey btn-circle-2 waves-effect" data-toggle="tooltip" data-placement="top" title="General Information"><i class="fa fa-pencil" aria-hidden="true"></i>
                    
                </a>
                <p> General Information  </p>
            </div>
            <div class="steps-step-2">
                <a href="#step-3" type="button" class="btn btn-blue-grey btn-circle-2 waves-effect" data-toggle="tooltip" data-placement="top" title="Business Information"><i class="fa fa-photo" aria-hidden="true"></i>
                    
                </a>
                <p> Business Information    </p>
            </div>
            <div class="steps-step-2">
                <a href="#step-4" type="button" class="btn btn-blue-grey btn-circle-2 waves-effect mr-0" data-toggle="tooltip" data-placement="top" title="Payment"><i class="fa fa-check" aria-hidden="true"></i>
                    
                </a>
                <p> Payment   </p>  
            </div>
        </div>
    </div>
    <!-- First Step -->
    <form role="form" action="" method="post" class="mt-25 mtx-0">
        <div class="row setup-content-2" id="step-1">
            <div class="col-md-12 cate_list">
                <div class="col-md-3">
                    <ul class="unstyled centered">
                        <h5>Wedding venues</h5>
                        <li>
                        <input class="styled-checkbox validate" id="styled-checkbox-2" type="checkbox" value="value2" required="required">
                        <label for="styled-checkbox-2">Hotel </label>
                        </li>
                        <li>
                            <input class="styled-checkbox validate " id="styled-checkbox-3" type="checkbox" value="value3" required="required">
                            <label for="styled-checkbox-3">Resort </label>
                        </li>
                        <li>
                            <input class="styled-checkbox validate " id="styled-checkbox-4" type="checkbox" value="value4" required="required">
                            <label for="styled-checkbox-4">FarmHouse </label>
                        </li>
                        <li>
                            <input class="styled-checkbox validate " id="styled-checkbox-5" type="checkbox" value="value5" required="required">
                            <label for="styled-checkbox-5">party loung </label>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="unstyled centered">
                        <h5>Wedding Makeup</h5>
                        <li>
                        <input class="styled-checkbox validate " id="styled-checkbox-6" required="required" type="checkbox" value="value6">
                        <label for="styled-checkbox-6">Bribal makeup </label>
                        </li>
                        <li>
                            <input class="styled-checkbox validate " id="styled-checkbox-7" required="required" type="checkbox" value="value7">
                            <label for="styled-checkbox-7">Groom makeup</label>
                        </li>
                        <li>
                            <input class="styled-checkbox validate " id="styled-checkbox-8" required="required"  type="checkbox" value="value8">
                            <label for="styled-checkbox-8">Family makeup</label>
                        </li>
                        <li>
                            <input class="styled-checkbox validate " id="styled-checkbox-9" required="required" type="checkbox" value="value9">
                            <label for="styled-checkbox-9">simple makeup</label>
                        </li>
                        <li>
                            <input class="styled-checkbox validate" id="styled-checkbox-10" required="required" type="checkbox" value="value10">
                            <label for="styled-checkbox-10">party makeup</label>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                        <ul class="unstyled centered">
                            <h5>Clothing</h5>
                                <li>
                                    <input class="styled-checkbox validate" id="styled-checkbox-11" required="required" type="checkbox" value="value11">
                                    <label for="styled-checkbox-11">Bridal wear</label>
                                </li>
                                <li>
                                    <input class="styled-checkbox validate" id="styled-checkbox-12" required="required"  type="checkbox" value="value12">
                                    <label for="styled-checkbox-12">Groom wear</label>
                                </li>
                                <li>
                                    <input class="styled-checkbox validate" id="styled-checkbox-13" required="required" type="checkbox" value="value13">
                                    <label for="styled-checkbox-13">family wear</label>
                                </li>    
                        </ul>
                </div>
                <div class="col-md-3">
                    <ul class="unstyled centered">
                    <h5>Wedding catering</h5>
                        <li>
                            <input class="styled-checkbox validate" id="styled-checkbox-14" required="required" type="checkbox" value="value14">
                            <label for="styled-checkbox-14">Indian</label>
                        </li>  
                        <li>
                                <input class="styled-checkbox validate" id="styled-checkbox-15" required="required"  type="checkbox" value="value15">
                                <label for="styled-checkbox-15">western</label>
                            </li>  
                    </ul>
                </div>
            </div>
            <button class="btn btn-raised gradient-pomegranate white signup_nextbtn" type="button">
            Next
           </button>
        </div>
        <!-- Second Step -->
        <div class="row setup-content-2" id="step-2">  
            <div class="col-md-6">
                    <h3 class="pl-0 my-4 lc_head"> Login Information </h3>
                    <div class="input-effect form-group md-form mt-3">
                        <input class="effect-16" type="text" placeholder="">
                        <label>First Name</label>
                        <span class="focus-border"></span>
                    </div>   
                    <div class="input-effect form-group md-form mt-3">
                            <input class="effect-16" type="text" placeholder="">
                            <label>Last Name</label>
                            <span class="focus-border"></span>
                        </div>   
                    <div class="input-effect form-group md-form mt-3">
                        <input class="effect-16" type="text" placeholder="">
                        <label>Password</label>
                        <span class="focus-border"></span>
                    </div>     
                    <div class="input-effect form-group md-form mt-3 mb-xs-20">
                        <input class="effect-16" type="text" placeholder="">
                        <label>confirm Password</label>
                        <span class="focus-border"></span>
                    </div>
            </div>
            <div class="col-md-6">
            <h3 class="pl-0 my-4 lc_head"> Contact Information </h3>
                <div class="input-effect form-group md-form mt-3">
                    <input class="effect-16  validate" type="text"id="yourEmail-2" type="text" required="required" placeholder="">
                    <label>contact person </label>
                    <span class="focus-border"></span>
                </div>
                <div class="input-effect form-group md-form mt-3">
                        <input class="effect-16  validate" type="text"id="yourEmail-2" type="email" required="required" placeholder="">
                        <label>Email</label>
                        <span class="focus-border"></span>
                    </div>

                    <div class="input-effect form-group md-form mt-3">
                            <input class="effect-16  validate" type="text"id="yourEmail-2" type="number" required="required" placeholder="">
                            <label>Phone no</label>
                            <span class="focus-border"></span>
                        </div>

                        <div class="input-effect form-group md-form mt-3">
                                <input class="effect-16  validate" type="text"id="yourEmail-2" type="text" required="required" placeholder="">
                                <label>Website</label>
                                <span class="focus-border"></span>
                            </div>


            </div>

            <button class="btn btn-raised gradient-pomegranate white signup_nextbtn" type="button">Next</button>
        </div>
        <!-- Third Step -->
        <div class="row setup-content-2" id="step-3">
           

            <div class="busi_cont">
            <div class="col-md-12">


                 <h3 class="pl-0 my-4 lc_head"> Business Information </h3>
                
                <div class="input-effect form-group md-form mt-3 ">
                        <input class="effect-16 validate" type="text" placeholder="" required="required">
                        <label>country</label>
                        <span class="focus-border"></span>
                </div>
                <div class="input-effect form-group md-form mt-3">
                        <input class="effect-16 validate" type="text" placeholder="" required="required">
                        <label>state/city</label>
                        <span class="focus-border"></span>
                </div>
                <div class="input-effect form-group md-form mt-3">
                        <input class="effect-16 validate" type="text" placeholder="" required="required">
                        <label>Postal code</label>
                        <span class="focus-bo+rder"></span>
                </div>               
                <div class="input-effect form-group md-form mt-3">
                        <input class="effect-16 validate md-textarea" type="text" placeholder="" required="required">
                        <label>Address</label>
                        <span class="focus-border"></span>
                </div>
                <div class="input-effect form-group md-form mt-3">
                        <input class="effect-16 validate " type="text" placeholder="" required="required">
                        <label>Name of your Bussiness</label>
                        <span class="focus-border"></span>
                </div>
           
            <button class="btn btn-raised gradient-pomegranate white signup_nextbtn" style="display:inherit;" type="button">Next</button> 
            </div>



               

            </div>
        </div>
        <!-- Fourth Step -->
<div class="row setup-content-2" id="step-4">

  <div class="col-md-6 mt-xs-20"> 

                    <div class="panel price panel-grey">
                        <div class="panel-heading arrow_box text-center">
                        <h3>FREE PLAN</h3>
                        </div>
                        <div class="panel-body text-center">
                            <p class="lead" style="font-size:30px"><strong>$0 / month</strong></p>
                        </div>
                        <ul class="list-group list-group-flush text-center">
                            <li class="list-group-item"><i class="icon-ok text-success"></i> Personal use</li>
                            <li class="list-group-item"><i class="icon-ok text-success"></i> photo upload</li>
                            <li class="list-group-item"><i class="icon-ok text-success"></i> 27/7 chat</li>
                        </ul>
                        <div class="panel-footer">
                            <a class="btn btn-lg btn-block btn-primary white_text" href="JavaScript:void(0);">BUY NOW!</a>
                        </div>
                    </div>


            </div>

            <div class="col-md-6">
                <div class="panel price panel-green">
                        <div class="panel-heading arrow_box text-center">
                        <h3>Business Plan</h3>
                        </div>
                        <div class="panel-body text-center">
                            <p class="lead" style="font-size:30px"><strong>$10 / month</strong></p>
                        </div>
                        <ul class="list-group list-group-flush text-center">
                            <li class="list-group-item"><i class="icon-ok text-success"></i> Leads</li>
                            <li class="list-group-item"><i class="icon-ok text-success"></i> Photo upload</li>
                            <li class="list-group-item"><i class="icon-ok text-success"></i> 27/7 support</li>
                        </ul>
                        <div class="panel-footer">
                            <a class="btn btn-lg btn-block btn-success" href="JavaScript:void(0);">BUY NOW!</a>
                        </div>
                    </div>
                    <!-- /PRICE ITEM -->
            </div>


        </div>
    </form>
</div>   
<app-foot></app-foot>
<router-outlet></router-outlet> 