<app-menu></app-menu>
<app-tool></app-tool>

<section class="Reviews_page container-fluid">
  <div class="col-sm-12">
  <div class="man_info">
    <h2 class="martop20px"> Reviews </h2>
     <div class="man_img">
       <img src="../assets/img/card_icon.jpg" alt=""> <span class="revie_name"> <strong> Peeter Parker </strong> </span>

       <div class="rating_star">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span> 
          <span class="weeks_ago"> <strong> 2 weeks ago   </strong>  </span>
          
       </div>
       <p> Excellent Service.Very Friendly Staff and on time. Would highly recommend Excellent Service.Very Friendly Staff and on time.</p>

       <div class="btn_button ">
         <p> <span><i class="material-icons">thumb_up</i> </span> <span class="share_i"> <i class="material-icons"> share </i> <b> Share </b>  </span>  </p>
       </div>
     </div>

     <div class="man_img first_rew">
        <img src="../assets/img/card_icon.jpg" alt=""> <span class="revie_name"> <strong> Peeter Parker </strong> </span>

        <div class="rating_star">
           <span class="fa fa-star checked"></span>
           <span class="fa fa-star checked"></span>
           <span class="fa fa-star checked"></span>
           <span class="fa fa-star"></span>
           <span class="fa fa-star"></span> 
           <span class="weeks_ago"> <strong> 2 weeks ago   </strong>  </span>
           
        </div>
        <p> Excellent Service.Very Friendly Staff and on time. Would highly recommend Excellent Service.Very Friendly Staff and on time.</p>

        <div class="btn_button ">
          <p> <span><i class="material-icons">thumb_up</i> </span> <span class="share_i"> <i class="material-icons"> share </i> <b> Share </b> </span>   </p>
        </div>
      </div>

     

       


  </div>
</div>

</section> 

      <app-foot></app-foot>
<router-outlet></router-outlet> 